@font-face {
    font-family: Proxima-Nova-Bold;
    src: url(fonts/Proxima-Nova-Bold.woff);
}

@font-face {
    font-family: Proxima-Nova-Regular;
    src: url(fonts/Proxima-Nova-Reg.woff);
}

@font-face {
    font-family: Minion-SemiBold;
    src: url(fonts/minionpro-semibold.woff);
}

@font-face {
    font-family: Minion-concept-italic;
    src: url(fonts/minionpro-italic.woff);
}

body {
    overflow-x: hidden;
}

.row {
    display: flex;
    display: -webkit-flex;
}

.proxima-regular {
    font-family: Proxima-Nova-Regular;
}

.minion-italic {
    font-family: Minion-concept-italic;
}

.proxima-bold {
    font-family: Proxima-Nova-Bold;
}

.navbar-light .navbar-brand {
    color: #fff !important;
}

.navbar-light .navbar-brand h2 {
    font-weight: 600;
}

.navbar-light .navbar-brand p {
    color: #d89e14;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 9px 0px !important;
    font-size: 18px;
    line-height: 20px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
    padding-right: 25px !important;
    padding-bottom: 8px !important;
    font-weight: 600 !important;
    font-size: 14px;
    font-family: Proxima-Nova-Bold;
}

.navbar-light .navbar-nav li a:hover {
    color: #d89e14 !important;
    text-decoration: underline !important;
}

.navbar-nav .menu-item .submenu {
    display: none;
    position: absolute;
}

.sub-menu-container {
    position: absolute;
    margin-top: 15%;
    display: none;
    width: -moz-max-content;
    width: max-content;
}

.sub-menu-container .arrow-up {
    height: 0;
    width: 0;
    border-bottom: 10px solid #f0f0f0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-top: -10px;
    /*margin-right: 19.875rem;*/
    float: left;
}

.sub-menu-container .content-box {
    display: inline-flex;
    flex-flow: row-reverse;
    left: -25%;
    position: relative;
    width: 514px;
}

.last-menu-item .sub-menu-container .content-box {
    display: inline-flex;
    flex-flow: inherit !important;
    left: -60%;
    position: relative;
}

.last-menu-item .sub-menu-container .content-box .nav-info {
    min-height: 280px;
    background: #fff;
    background: #dedfe1;
}

.last-menu-item .sub-menu-container .content-box  .nav-info  h1 {
    font-size: 20px !important;
    font-family: Proxima-Nova-Bold !important;
}

.last-menu-item .sub-menu-container .content-box .links-container {
    background: #fff;
}




.last-menu-item2 .sub-menu-container .content-box {
    display: inline-flex;
    flex-flow: inherit !important;
    left: -70%;
    position: relative;
}

.last-menu-item2 .sub-menu-container .content-box .nav-info {
    min-height: 280px;
    padding: 0px !important
    background: none !important;
    display: -webkit-inline-box !important;
    padding: 0% !important;
}

.last-menu-item2 .sub-menu-container .content-box .links-container {
    background: #fff;
}

.last-menu-item2 .sub-menu-container .content-box  .nav-info .desc-box {
    padding: 5% 7%;
    background: #dedfe1;
}

.last-menu-item2 .sub-menu-container .content-box  .nav-info .desc-box h1 {
    font-size: 20px !important;
    font-family: Proxima-Nova-Bold !important;
}

.last-menu-item2 .sub-menu-container .content-box  .nav-info .link-box {
    padding: 5% 7%;
    background: #fff;
    height: 100%;
    width: 50%;
}

.last-menu-item2 .sub-menu-container .content-box  .nav-info .link-box a {
    display: block;
    top: 80%;
    position: absolute;
}


.max-menu-container .sub-menu-container .content-box {
    display: inline-flex;
    flex-flow: row-reverse;
    left: -65% !important;
    position: relative;
    width: auto; !important;
}

.sub-menu-container ul.sub-menu li.max-menu-item {
    float: left;
    width: 33%;
}

.sub-menu-container .content-box .links-container {
    background: #dedfe1;
}

.sub-menu-container .content-box .nav-info {
    min-height: 280px;
    padding: 5% 7%;
    background: #fff;
}

.sub-menu-container .content-box .nav-info p {
    list-style: none;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    font-family: Proxima-Nova-Regular;
    max-width: 420px;
}

.sub-menu-container .content-box .nav-info a.nav-link{
    color: #70b7d9 !important;
}


.sub-menu-container ul.sub-menu {
    width: max-content;
    width: -moz-max-content;
    list-style: none;
    padding: 4% 0%;
    max-width: 550px !important;
}

.sub-menu-container .sub-menu li a.nav-link {
    color: #000 !important;
}

.sub-menu-container .sub-menu li a.nav-link:hover {
    color: yellow !important;
}

.about-jmi .jmi-values .jmi-content .val {
    font-size: 15px;
    color: #9c9c9c;
    font-weight: 400;
    font-family: Proxima-Nova-Regular;
}

.about-jmi .jmi-values .jmi-content h2 {
    font-weight: 600;
    font-family: Proxima-Nova-Bold;
}

.about-jmi .jmi-values .jmi-content .info {
    font-size: 16px;
    color: #9c9c9c;
    font-weight: 400;
    font-family: Proxima-Nova-Regular;
}

.about-jmi .jmi-values .explore li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #36a9e0;
    font-family: Proxima-Nova-Bold;
}

.about-jmi .jmi-values .explore li a span {
    color: #36a9e0;
}

.about-jmi .jmi-values .explore li a:hover {
    color: #000;
}

.about-jmi .jmi-values .explore li {
    list-style: none;
    font-family: Proxima-Nova-Bold;
}

.about-jmi .jmi-values .explore p {
    font-size: 16px;
    font-weight: 600;
    color: #36a9e0;
    width: 25%;
    border-bottom: 2px solid #36a9e0;
    font-family: Proxima-Nova-Bold;
}

.about-jmi .inner-content {
    padding: 55px 100px 55px 70px;
}

.about-jmi #history-image {
    background-image: url("image/build.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-size: cover;
}

.about-jmi .direction-link {
    position: absolute;
    width: 200px;
    left: 0%;
    margin-top: 10%;
}

.about-jmi .direction-link a.ui-link {
    font-size: 16px;
    font-weight: 600;
    color: #36a9e0;
    float: right;
    font-family: Proxima-Nova-Bold;
}

.direction-link span {
    height: 4px;
    width: 100px;
    display: block;
    border-bottom: 2px solid #36a9e0;
    margin-top: 4%;
    position: absolute;
    margin-left: -45%;
} 

@media screen and (max-width: 1024px) {

    .direction-link {
        display: none;
    }

    .navbar-brand {
        display: none;
    }
/*
    .icon, 
    .icon2, 
    .icon3 {
        display: none;
    }*/

    .about-jmi .inner-content {
        padding: 55px 16px 55px 0px;
    }
}

@media screen and (max-width: 1023px) {

    .map_location {
        display: none !important;
    }
}


.about-jmi .jmi-history ul li,
p {
    list-style: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    font-family: Proxima-Nova-Bold;
}

.carousel-caption p {
    font-size: 24px;
}

.about-jmi .jmi-history p {
    padding-top: 60px;
}

.second-slide h5 {
    font-family: Proxima-Nova-Bold !important;
    font-weight: 600 !important;
    font-size: 24px ;
    padding-left: 2rem !important;
}

.carousel .carousel-indicators {
    position: absolute !important;
    bottom: auto !important;
    left: -0.5% !important;
    right: auto !important;
    z-index: 15 !important;
    width: auto !important;
    padding-left: 0 !important;
    margin-left: auto !important;
    text-align: center !important;
    list-style: none !important;
    margin-top: 7%;
}

.carousel .icons {
    position: absolute;
    z-index: 1;
    transform: rotate(90deg);
    z-index: 15;
    margin-left: 9%;
    bottom: 55%;
    left: 1%;
}

.carousel .play-icon {
    transform: rotate(270deg);
    width: 40px;
    height: 40px;
    margin-top: -15px;
    background-color: #181818 !important;
}

.carousel .pause-icon {
    transform: rotate(270deg);
    width: 40px;
    height: 40px;
    margin-top: -15px;
    background-color: #181818 !important;
}

.carousel .carousel-indicators li {
    background-color: #fff;
}

.carousel-indicators .active {
    background-color: yellow !important;
}

@media screen and (min-width: 768px) {
    .carousel-indicators {
        bottom: 250px !important;
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}


@media (min-width: 768px) and (max-width: 1920px) {

    .carousel-caption {
        left: 17%;
    }
}



@media (min-width: 768px) and (max-width: 1024px) {

    .carousel .carousel-inner .carousel-caption {
        bottom: 0% !important;
    }

    .vertical .carousel-inner .testimonials .content {
        top: 18% !important;
        position: absolute !important;
    }
}


@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-menu-left {
        width: 30px;
        height: 30px;
        margin-top: -10px;
        font-size: 75px;
    }

    .carousel-control .glyphicon-menu-right {
        width: 30px;
        height: 30px;
        margin-top: -10px;
        font-size: 75px;
    }
}

@media (max-width: 768px) {
    #myCarousel .carousel-inner .carousel-caption .slider-content p {
        width: 25% !important;
    }
}


@media screen and (min-width: 768px) {
    header .jmi-header hr{
        display: none;
    }
}

@media screen and (max-width: 668px) {
    .about-jmi .jmi-values .text-right img {
        float: left;
    }

    .jmi-groups .footer-end .nav-utility {
        float: left !important;
    }

    .jmi-groups .footer-select {
        padding-left: 50px;
        margin-right: 5px;
    }

    .visit-plan .large {
        padding: 2.0625rem .625rem 2.0625rem 1.8125rem important;
        font-size: 25px !important;
    }

    .visit-plan .large  .first-icon-cell {
        padding-left: 0rem !important;
        padding-right: 1.5rem !important;

    }

    .visit-plan .large  .text-cell {
        padding-right: 5.5rem !important;
        
    }
}


.carousel-control .glyphicon-menu-left {
    left: 20%;
}

.carousel-control .glyphicon-menu-right {
    left: 43%;
}

.carousel-control .glyphicon-menu-left {
    position: absolute;
    top: 50%;
    z-index: 5;
}

.carousel-control .glyphicon-menu-right {
    position: absolute;
    top: 50%;
    z-index: 5;
}

.carousel .carousel-inner .carousel-caption {
    text-align: left;
    bottom: 18%;
}

.carousel .carousel-inner .carousel-caption p {
    color: #f7f5f5;
}

.carousel .carousel-inner .carousel-caption .slider-content li {
    list-style: none;
}

.carousel .carousel-inner .carousel-caption .slider-content li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    font-family: Proxima-Nova-Bold;
}

.carousel .carousel-inner .carousel-caption .slider-content li a:hover {
    color: #d89e14;
}

.carousel .carousel-inner .carousel-caption .slider-content li a span {
    color: #fff;
}

.carousel .carousel-inner .carousel-caption .slider-content p {
    font-size: 20px;
    font-weight: 600;
    color: #d89e14;
    width: 25%;
    border-bottom: 2px solid #d89e14;
}


.explore-top-text-1 {
    font-family: Proxima-Nova-Bold;
    font-weight: 600;
}

.explore-top-text-2 {
    font-family: Minion-concept-italic;
}

.jmi-future .future-img {
    background-image: url("image/NF_JMI_Greener.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-size: cover;
    border-top-right-radius: 90px 80px;
    margin-top: 80px;
}

.jmi-future .future-content {
    padding: 55px 100px 55px 70px;
}

.jmi-future .future-content .future {
    color: #36a9e0;
    font-size: 15px;
    font-family: Proxima-Nova-Regular;
}

.jmi-future .future-content h2 {
    color: #36a9e0;
    font-weight: 600;
    font-family: Proxima-Nova-Bold;
}

.jmi-future .future-content .info {
    font-size: 15px;
    color: #9c9c9c;
    font-family: Proxima-Nova-Regular;
}

.jmi-future .future-content .future-list li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #36a9e0;
    font-family: Proxima-Nova-Bold;
}

.jmi-future .future-content .future-list li a span {
    color: #36a9e0;
}

.jmi-future .future-content .future-list li a:hover {
    color: #000;
}

.jmi-future .future-content .future-list li {
    list-style: none;
}

.jmi-visit {
    background: #103c6d;
}

.jmi-visit .visit-content {
    padding: 55px 100px 55px 70px;
}

.jmi-visit .visit-map {
    /*padding: 55px 100px 55px 70px;*/
}

.jmi-visit .visit-content .visit {
    color: #9c9c9c;
    font-size: 13px;
}

hr {
    border-top: 2px solid #36a9e0 !important;
    width: 30%;
    margin-left: 0%;
}

.jmi-visit .visit-content h2 {
    color: #fff;
    font-weight: 600;
    font-family: Proxima-Nova-Bold;
    font-size: 25px !important;
}

.jmi-visit .visit-content .visit-list .info {
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    font-family: Proxima-Nova-Bold;
}

.jmi-visit .visit-content .visit-list li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #36a9e0;
    font-family: Proxima-Nova-Bold;
}

.jmi-visit .visit-content .visit-list li a span {
    color: #36a9e0;
}

.jmi-visit .visit-content .visit-list li a:hover {
    color: #d89e14;
}

.jmi-visit .visit-content .visit-list li {
    list-style: none;
}

.jmi-contact {
    background: #041728;
}

.jmi-contact .jmi-groups a {
    text-decoration: none;
}

.jmi-contact .jmi-groups .groups {
    float: left;
    padding: 8px;
    background-color: #f7a430;
}

.jmi-contact .jmi-groups .groups .company-group {
    float: left;
    white-space: nowrap;
    margin: 0;
    color: #03254a;
    width: 220px;
    font-size: 17px;
    font-weight: 600;
    font-family: Minion-concept-italic;
}

.jmi-contact .jmi-groups .groups .button {
    float: left;
    margin: 0;
    font-family: Proxima-Nova-Bold;
    font-weight: 600;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    line-height: normal;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    background-color: #03254a;
    border-color: #f7a430;
    color: #FFF;
    transition: background-color .3s ease-out;
}

.jmi-contact .jmi-groups .jmi-links ul li {
    list-style: none;
    font-size: 11px;
    color: #6e7482;
}

.jmi-contact .jmi-groups .jmi-links ul li a:hover {
    color: #fff;
}

.jmi-contact .jmi-groups .jmi-links .iot {
    padding-top: 30px;
}

.jmi-contact .jmi-groups .upper-footer {
    padding-left: 145px;
}

.jmi-contact .jmi-groups .lower-footer {
    padding-left: 145px;
}

.jmi-groups .footer-end .nav-utility {
    padding-top: 5px;
}

.jmi-groups .footer-end ul li {
    padding-right: 25px;
    list-style: none;
    float: left;
    color: #fff;
    font-size: 13px;
    font-family: Proxima-Nova-Regular;
}

.jmi-groups .footer-end ul li a:hover {
    color: #fff;
}

.jmi-groups .footer-select .lang {
    background: #49a9e0;
    padding: 8px 20px 8px 20px;
    font-weight: 600;
}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    line-height: normal;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    background-color: #03254a;
    border-color: #f7a430;
    color: #FFF;
    transition: background-color .3s ease-out;
    font-family: Proxima-Nova-Bold;

}


header {
    position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
    right: 0;
}

header .container {
    position: relative;
}

header .navbar-light .collapse {
    padding-right: 0;
}

header .navbar-light .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
}

header .upper-header {
    padding-top: 15px;
}

header .upper-header ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

header .upper-header ul li {
    display: inline-block;
    padding: 0 5px;
}

header .upper-header ul li a {
    color: #fff;
    font-size: .75rem;
    line-height: .75rem;
    font-weight: 600;
}

header .upper-header ul li .pipe {
    color: #fff;
}

header .jmi-header {
    /*border-bottom: 3px solid rgba(89, 98, 115, 0.5490196078431373);*/
}

a.custom-logo-link img {
    max-width: 90% !important;
}

header .jmi-header hr {
    border-top: 2px solid rgba(89, 98, 115, 0.5490196078431373) !important;
    width: 100%;
    margin: 0px 0px 0px 70px;
}

.navbar-brand {
    height: auto;
    margin-right: 0;
}

#navbarNavDropdown ul {
    float: right;
}

.navbar-light .navbar-toggler-icon {
    background-image: none !important;
}


.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: transparent !important;
}


.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
    max-height: 45.75rem;
}

@media (max-width: 991px) {
    .navbar {
        justify-content: flex-end;
    }

    header .align-self-center {
        align-self: normal !important;
    }

    .navbar-collapse {
        background: rgba(0, 0, 0, 0.7);
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.in {
        display: block !important;
    }

    header .upper-header {
        display: none;
    }

    .carousel .carousel-inner .carousel-caption {
        bottom: 10px;
    }

    .carousel-inner>.item>a>img,
    .carousel-inner>.item>img {
        min-height: 500px;

    }

    header .jmi-header {
        margin: 0;
        padding: 15px 30px 0 30px;
    }

    #navbarNavDropdown ul {
        margin: 0;
    }
}


@media (min-width: 1200px) and (max-width: 1920px) {
  
      /*.container {
        width: 970px !important;
    }*/
  
}

@media (min-width: 1200px) and (max-width: 1600px) {
  
    .indicators-container {
        top: 48.25% !important;
        left: 42% !important;
        margin-left: -30.9375rem !important;
    }
  
}

.visit-plan .container {
    position: relative;
    z-index: 999;
}

.visit-plan .large {
    position: absolute;
    right: 0;
    bottom: 0px;
    margin-right: 18px;
    background-color: #f7a230;
    float: right;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 1.3125rem .4375rem 1.3125rem 1.8125rem;
}

.visit-plan .large .text-cell {
    border-right: 1px solid;
    font-family: Proxima-Nova-Bold;
}

.visit-plan .large .last-icon-cell {
    font-size: 13px;
}

.visit-plan a:hover {
    text-decoration: none;
    color: #f7a230;
    background-color: #fff;
}

.jmi-groups .tc {
    padding-right: 70px;
}

.jmi-groups .footer-end .nav-utility {
    padding-top: 18px;
}

.jmi-groups .footer-select .lang {
    margin: 0;
    text-align: left;
    padding: 1rem 1.375rem 1rem 2rem;
    font-size: .9375rem;
    line-height: 1.4;
    background-image: none !important;
    border: 0;
    font-weight: 600;
    outline: 0;
    background-color: #2aa9e0;
    color: #FFF;
    transition: background-color .3s ease-out;
}

.jmi-groups .footer-select .lang:hover {
    background-color: #fff;
    color: #2aa9e0;
    border: 0;
    text-shadow: none;
}

@media screen and (max-width: 1068px) {
    .card .more {
        float: left !important;
        padding-left: 3rem !important;
    }

    .carousel .second-carousel-slider {
        top: 91% !important;
        display: none;
    }

    .second-carousel .front-slider .second-slide p,
    h5,
    a {
        font-size: 12px;
    }

}

.vertical .carousel-inner {
    height: 335px;
}

.carousel.vertical .item {
    -webkit-transition: 0.6s ease-in-out top;
    -moz-transition: 0.6s ease-in-out top;
    -ms-transition: 0.6s ease-in-out top;
    -o-transition: 0.6s ease-in-out top;
    transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
    top: 0;
}

.carousel.vertical .next {
    top: 400px;
}

.carousel.vertical .prev {
    top: -400px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
    top: 0;
}

.carousel.vertical .active.left {
    top: -400px;
}

.carousel.vertical .active.right {
    top: 400px;
}

.carousel.vertical .item {
    left: 0;
}

.vertical .testimonial-slide {
    left: 95% !important;
    bottom: 155px !important;
    transform: rotate(90deg) !important;
}

.vertical .carousel-inner .testimonials .content {
    top: 14%;
    position: absolute !important;
}

.vertical .carousel-inner .testimonials .content span {
    /*left: 272px !important;*/
    top: -5px !important;
}

.vertical .carousel-inner {
    background-image: url("../../img/NF Site BW.jpg");
    background-color: #03A9F4;
    background-repeat: round;
    background-size: cover;
}

.vertical  .carousel-inner:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#03A9F4,#03A9F4);
    opacity: .6;
}


.vertical .testimonial-slide .active {
    background-color: yellow !important;
}

.vertical {
    margin-bottom: -50px;
}

.vertical .carousel-inner .testimonials .content .fisrt-heading {
    font-size: 24px !important;
    font-family: Minion-concept-italic;
}

.vertical .carousel-inner .testimonials .content .second-heading {
    font-size: 16px !important;
    font-family: Proxima-Nova-Regular;
}

@media (max-width: 991px) {
    .vertical .carousel-inner .testimonials .content {
        bottom: 365px !important;
        left: 131px !important;
    }
}

@media (max-width: 768px) {
    .vertical .carousel-inner .testimonials .content .second-heading {
        text-align: left !important;
        margin-top: 10px;
    }

    .vertical .carousel-inner .testimonials .content {
        top: 10% !important;
        position: absolute !important;
    }

    .vertical .carousel-inner .testimonials .content span {
        left: inherit !important;
    }

    .jmi-future .future-img {
        margin-top: 0px;
    }

    .second-slide h5 {
        font-family: Proxima-Nova-Bold !important;
        font-weight: 600 !important;
        font-size: 18px !important;
        padding-left: 2rem !important;
    }
}


/* new */

#myCarousel:hover .glyphicon-menu-left,
#myCarousel:hover .glyphicon-menu-right,
#myCarousel:hover .sr-only,
#carousel-example-generic:hover .glyphicon-menu-left,
#carousel-example-generic:hover .glyphicon-menu-right {
    display: inline-block !important;
}


@media (max-width: 1024px) {
    .play-pause-button {
        display: none
    }

    .second-slide h5 {
        font-family: Proxima-Nova-Bold !important;
        font-weight: 600 !important;
        font-size: 18px !important;
        padding-left: 2rem !important;
    }
}

@media (max-width: 767px) {

    .navbar-brand {
        display: none;
    }

    .visit-plan .container {
        position: relative;
        z-index: 999;
        width: 100%;
        padding: 0px;
    }

    .visit-plan .large {
        position: relative;
        z-index: 999;
        width: 100%;
        margin: 0px;
        padding: 2.0625rem .625rem 2.0625rem 1.8125rem !important;


    }

    .carousel-caption p {
        font-size: 17px;
    }

    .about-jmi .jmi-history ul li,
    p {
        font-size: 18px;
    }

    .carousel-caption h1 {
        padding-left: 0rem !important;
        font-family: Minion-SemiBold !important;
    }

    .second-carousel {
        width: 100% !important;
    }

    .front-slider {
        right: 0% !important;
        z-index: 2;
    }

    .vertical .carousel-inner .testimonials .content {
        bottom: 250px !important;
        left: 10% !important;
    }

    .jmi-contact .jmi-groups .upper-footer {
        padding-left: 15% !important;
        padding-top: 10%;
    }

    .jmi-contact .jmi-groups .lower-footer {
        padding-left: 16%;
    }

    .vertical .carousel-inner {
        height: 50%;
    }
}

.play-pause-button,
.play-pause-button:visited {
    width: 48px;
    height: 48px;
    padding-top: 9px;
    line-height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fffff;
    text-align: center;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-weight: bold;
    transition: all 0.3s ease;
    /*z-index: 9999;*/
}

a.round-button-top,
a.round-button-top:visited {
    position: absolute;
    margin-top: -3%;
}

/*.round-button-second {
    position: absolute;
    bottom: 5% !important;
    right: 35% !important;
}*/

.round-button-bottom {
    left: -11%;
    top: 0%;
    display: inline-block;
}

.play-pause-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px rgba(255, 255, 100, 1);
    text-shadow: 0px 0px 10px rgba(255, 255, 100, 1);
}

.fa-pause {
    padding-left: 2px !important;
    color: #fff;
}

.fa-play {
    padding-left: 7px;
    color: #fff;
}

/*map section */
.acf-map {
    width: 100%;
    height: 313px;
}

/* fixes potential theme css conflict */
.acf-map img {
    max-width: inherit !important;
}

/* new css for footer */
.lower-footer li.menu-item-has-children {
    list-style: none;
    width: 218px;
}

.lower-footer li.menu-item-has-children>a {
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    font-family: Proxima-Nova-Bold;
}

.lower-footer ul.sub-menu {
    margin-left: -16px;
}

.lower-footer ul.sub-menu li {
    margin: 6px 0px;
    height: 16px;
    list-style: none;
}

.lower-footer ul.sub-menu li a {
    font-size: 13px;
    color: #6e7482;
    text-decoration: none;
    font-family: Proxima-Nova-Regular;
}

.lower-footer ul.sub-menu li a:hover {
    color: #fff;
}

.footer-end.float-right ul li a {
    color: #fff;
}

.footer-end.float-right ul li a {
    margin: 0;
    padding: 0;
}

.footer-end.float-right ul li span {
    float: right;
    top: -14px;
    margin: 0;
    padding: 0;
    right: -10px;
}

/* seconf slider */
.inner-slider {
    position: relative;
    top: -45px;
    bottom: 0;
}

.card {
    position: absolute;
    top: 80%;
    left: 0px;
    bottom: 0px;
    right: 0px;
    color: #fff;
    background: transparent;
    background-color: #d8a731c9;
}

.carousel-indicators li {
    display: inline-block !important;
    width: 8px !important;
    height: 8px !important;
    margin: 5px !important;
}

@media all and (transform-3d),
(-webkit-transform-3d) {

    .carousel-inner>.item.next,
    .carousel-inner>.item.active.right {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    .carousel-inner>.item.prev,
    .carousel-inner>.item.active.left {
        left: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

.carousel-inner>.second-slide>img {
    width: 100% !important;
}

@media (max-width: 991px) {

    .carousel-inner>.first-slide>img,
    .carousel-inner>.second-slide>img {
        min-height: 200px !important;
    }

    .inner-slider .second-carousel .right-arrow {
        left: 330px !important;
    }

}

@media (max-width: 920px) {

    .inner-slider .second-carousel .right-arrow,
    .left-arrow {
        display: none !important;
        /*left: 295px !important;*/
    }
}

@media (min-width: 991px) {
        #myCarousel .carousel-caption h1 {
        font-size: 65px;
        font-family: Proxima-Nova-Bold;
    }
}


@media (max-width: 768px) {

    #menu-footer-bottom-menu {
        padding-left: 13%;
    }

    #menu-footer-menu {
        padding-bottom: 0px !important;
    }

    .about-jmi .inner-content {
        padding: 55px 50px 47px 50px !important;
    }

    .about-jmi .jmi-values .explore p {
        width: 45% !important;
    }

    .jmi-future .future-content {
        padding: 10px 50px 55px 50px;
    }

    .carousel-inner>.first-slide>img {
        min-height: 128px !important;
    }

    .vertical .carousel-inner {
        height: 330px;
    }

    .vertical .testimonial-slide {
        left: 48% !important;
        transform: rotate(180deg) !important;
        bottom: 3% !important;
    }

    .inner-slider {
        position: initial;
        top: 0;
        bottom: 0;
    }

    .carousel .carousel-inner .carousel-caption .slider-content p {
        width: 50% !important;
    }

    .carousel-caption {
        position: absolute;
        right: 15%;
        left: 5%;
        bottom: 18% !important;
    }

    .lower-footer li.menu-item-has-children {
        list-style: none;
        width: 224px;
        margin-bottom: 2rem !important;
    }

    /*                .inner-slider .second-carousel .right-arrow{
                        left: 245px !important;
                    }*/
}

@media (max-width: 628px) {
    /*                .inner-slider .second-carousel .right-arrow{
                        left: 200px !important;   
                    }*/
}

@media (max-width: 528px) {
    /*                .inner-slider .second-carousel .right-arrow{
                        left: 135px !important;   
                    }*/
}



.background-slider {
    opacity: .5;
    width: 27%;
}

.background-slider img {
    height: 100px;
}

.front-slider {
    right: 20%;
    z-index: 2;
}

.second-carousel {
    width: 60%;
}

.caption-top-1 {
    font-weight: 600;
    font-family: Proxima-Nova-Bold;
}

.caption-top-2 {
    font-weight: 200;
    font-family: Minion-concept-italic;
}

.inner-slider .second-carousel .left-arrow {
    z-index: 999 !important;
    left: -130px !important;
}

.inner-slider .second-carousel .right-arrow {
    z-index: 999 !important;
    right: 140px !important;
}

.inner-slider .second-carousel .right-arrow .glyphicon-menu-right {
    left: 10% !important;
}

.second-carousel .front-slider .second-slide a:hover {
    color: #fff;
    cursor: pointer;
}

.inner-slider .first-carousel .carousel-inner {
    margin-top: 75px;
}

.inner-slider .first-carousel .carousel-inner .first-slide img {
    /*height: 55% !important;*/
}

.carousel .second-carousel-slider {
    position: absolute;
    bottom: 45px !important;
    transform: none !important;
    left: 48% !important;
}

.carousel .second-carousel-slider .active {
    background-color: #36a9e0 !important;
}

.carousel-control.right,
.left {
    background-image: none !important;
}

a.more.float-right {
    color: #fff;
}

.upper-header .text-right a {
    color: #fff;
    font-size: .75rem;
    line-height: .75rem;
    font-weight: 600;
}

.indicators-container {
    top: 48.25%;
    left: 42%;
    margin-left: -35.9375rem;
}

@media (min-width: 576px) {
    .container {
        max-width: auto !important;
    }
}


@media screen and (min-width: 2700px) {
    .indicators-container {
        left: 45%;
        margin-left: -35.9375rem;
    }
}

@media screen and (min-width: 3000px) {
    .indicators-container {
        left: 50%;
        top: 49.25%;
        margin-left: -35.9375rem;
    }
}

.map_location {
    position: relative;
}

.map_location img {
    width: 100%;
}

.inner_div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#div1 {
    position: relative;
}

.jmi-visit .visit-content .visit-list li#list1:hover>.image1 {
    display: block;
}

.jmi-visit .visit-content .visit-list li#list1:hover>.image2 {
    display: none;
}

.jmi-visit .visit-content .visit-list li#list1:hover>.image3 {
    display: none;
}

.jmi-visit .visit-content .visit-list li#list1:hover>.image4 {
    display: none;
}

.jmi-visit .visit-content .visit-list li#list1:hover>.image5 {
    display: none;
}

.jmi-visit .visit-content .visit-list li#list1:hover>.image6 {
    display: none;
}



.jmi-visit .visit-content .visit-list li#list2:hover #image1 {
    display: none;
}

.jmi-visit .visit-content .visit-list li#list2:hover #image2 {
    display: none;
}

.jmi-visit .visit-content .visit-list li#list2:hover #image3 {
    display: none;
}

.jmi-visit .visit-content .visit-list li#list2:hover #image4 {
    display: none;
}

.jmi-visit .visit-content .visit-list li#list2:hover #image5 {
    display: none;
}

.jmi-visit .visit-content .visit-list li#list2:hover #image6 {
    display: none;
}


/*@media (min-width: 1280px) and (max-width: 1440px) {}*/


.icon, .icon2, .icon3 {
    z-index: 9999;
    width: 50px;
    height: 50px;
    opacity: 1;
    position: absolute;

  transform: translateY(-50%) translateX(-50%);
  
  transition: all .25s cubic-bezier(.59, -0.26, .33, 1.42);
}

.icon {
    top: 50%;
    left: 3%;
}

.icon2 {
    left: 62%;
    bottom: 0%;
}

.icon3 {
    left: 15%;
    bottom: 42%;
}

.icon:hover, .icon2:hover, .icon3:hover {
  opacity: 1;
  /*transform: scale(1.4);
  filter: blur(15px);*/
}

.play, .play2, .play3 {
  opacity: 1;
}

.pause, .pause2, .pause3 {
  opacity: 1;
}

.hidden, .hidden2,  .hidden3 {
  opacity: 0;
}

.stroke-bg {
  stroke: #4c4c4c;
}

.stroke {
  stroke-dasharray: 145;
  stroke-dashoffset: 145;
  animation: dash 11s linear 1s infinite paused;
}
.stroke2 {
  stroke-dasharray: 145;
  stroke-dashoffset: 145;
  animation: dash 10s linear 1500ms infinite paused;
}
.stroke3 {
  stroke-dasharray: 145;
  stroke-dashoffset: 145;
  animation: dash 10s linear 1500ms infinite paused;
}

@keyframes dash {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 145;
  }
}

.speech-bubble {
    position: relative;
    background: white;
    border-radius: 0.4em;
    width: 55px;
    height: 42px;
    color: black;
    padding: 3px;
    margin: auto;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 18px solid transparent;
    border-right-color: white;
    border-left: 0;
    border-bottom: 0;
    margin-top: -4px;
    margin-left: -18px;
}

.speech-bubble img {
        height: 100%;
        border-radius: 0.4em;
    }



.ui-loading .ui-loader { display: block; }
.ui-loader, span.notranslate.goog-te-combo.lang { display: none; position: absolute; opacity: .85; z-index: 100; left: 50%; width: 200px; margin-left: -130px; margin-top: -35px; padding: 10px 30px; }



.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
display: flex !important;
content: " ";
}

body.home.page-template.page-template-home-page-template.page-template-home-page-template-php.page.page-id-11.logged-in.admin-bar.wp-custom-logo.customize-support.ui-mobile-viewport.ui-overlay-a {
    overflow-x: hidden;
}

