/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */

.slider-main{position:relative;}
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	bottom:48%;
	z-index:9;
	cursor:pointer;	
}
a.nivo-prevNav {
	left:0;
	background-position:-57px 0;
	border-radius:0 3px 3px 0;
}
a.nivo-nextNav {
	right:0;
	background-position:-40px 0 !important;
	border-radius:3px 0 0 3px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:left; 
	right:auto;
	padding:0;
	position: absolute;
    width:100%;
	bottom:15%;
	z-index:9;
	text-align:center;
	display:none;
	
}
.nivo-controlNav a {
	cursor:pointer;
    border: 0 none;
    display:inline-block;	
    height:12px;
    margin:0 5px 0 0;
    text-indent: -9999px;
    width:12px;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-o-border-radius:15px;
	background-color:#fff;
}
.nivo-controlNav a.active { 
	font-weight:bold;

}

.nivo-directionNav a {
    border: 0 none;
    display: block;
    height: 45px;   
    text-indent: -9999px;
    transition: all 200ms ease-in-out 0s;
    width: 45px;
	background:url(../images/slide-nav.png) no-repeat left top;
	background-color:rgba(0,0,0, 0.6);
}

.slider-main:hover .nivo-directionNav a {
    opacity:1;
}

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0;
	right:0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	color:#fff;
	z-index:8;
	padding:0;
	overflow: hidden;	
	width:65%; 
	bottom:30%;
	text-align:center;
	margin:0 auto;
}
.slide_info h2{ font:600 50px/55px 'Roboto Condensed', sans-serif; color:#ffffff; margin:0 0 30px; text-transform:uppercase; }
.slide_info h2 span{ color:#ffae00; text-transform:uppercase; }
.slide_info p{ font:500 20px/24px 'Roboto Condensed', sans-serif; margin-bottom:40px; }
.slide_info .slideMore{ font:500 16px 'Roboto Condensed', sans-serif; background-color:#ff554e; color:#fff; height:40px; line-height:40px; padding:0 25px; display:inline-block; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:2px solid #ff554e;}

.slide_info .slideMore.purchasenow{  background-color:transparent !important; border:2px solid #fff  !important; margin-left:10px; }