
@font-face {
  font-family: 'MinionPro-It';
  src: url('font/MinionPro-It.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MinionPro-It';
  src:  url('font/MinionPro-It.otf')  format('opentype'),
	     url('font/MinionPro-It.woff') format('woff'), url('font/MinionPro-It.ttf')  format('truetype'), url('font/MinionPro-It.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


