/*
Theme Name: lz Child
Theme URI: http://www.luminoguru.com/
Template: skt-blendit
Author: LZ Team
Author URI: http://www.luminoguru.com/
Description: lz team
Tags: photography,portfolio,grid-layout,blog,news,two-columns,right-sidebar,custom-background,custom-colors,custom-menu,sticky-post,theme-options,threaded-comments
Version: 1.1.1536237414
Updated: 2018-09-06 12:36:54

*/

#header .site-id .group { 
font-size: 17px !important;
}
.lc__background-2.history-image img.history-thumb {
    height: 100%;
}

.lc__background-2.history-image img.old {
    display: none;
}
.address span.old-text {
    color: #737373;
}
.plan-button {
    float: left !important;

}
.carousel-container .second-slide .cycle-pager{
    top: 0.8375rem;
    transform: rotate(270deg);
    left: -96px;

}

.feature-footer .inner-wrap {
    position: absolute !important;
    max-width: 58.75rem !important;
    margin: 0 auto !important;
}
.feature-footer .inner-wrap .plan-button{
    position: absolute !important;
    margin-top: -9% !important;
}
.feature-footer {
    width: 100% !important;
    position: absolute !important;
    bottom: 0 !important;
    z-index: 100 !important;
}

#progress-outer-circle-4823{
    stroke: #fff;
}
#footer .footer-link{max-width: 61.5rem !important;}




/*news update*/
.news-update{
    padding:inherit;
}


.news-update .banner-section img{
    height: 100%;
    width: 100%;
}


/* news update widget section  */
.widgettitle { display:none;}

.all-new-update {
    background : #775016;
}
.jmi-corporate-news {
    background : #f98c3e !important;
}
.csr-events {
    background: #fbc900;
}

.industry-news {
    background: #2088a5;
}

.sustainability-activities {
    background: #00987a;
}


.news-update .month-title {
    border-top: 0.5px solid #9ccbe0 !important;
    border-bottom: 0.5px solid #ccc !important;
    padding: 1.8125rem 0rem 1.6rem 0rem;
    margin-bottom: 0rem;
    margin-top: 100px;
    font-weight: 200 !important;
    font-size: 30px !important;
}

.news-category a:hover,
.news-category a {
    font-size: 13px;
    padding: 0px 7px 0px 7px;
    text-align: center;
    color: #fff;
    display: block;
    width: 115px;
    font-weight: 600;
    height: 23px;
}

.news-details a span,
.news-details a p {
    font-size: 12px;
    line-height: 18px;
    color: blue;
    margin-bottom: 0rem !important; 
    float: left;
    /*font-weight: 600;*/
    letter-spacing: 1px;

}

.banner-text-container {
    max-width: 65rem !important;
}
.banner-text-container h6 {
    text-transform: uppercase;
    font-weight: 200;
}

.news-update .monthe-single-news {
    border-bottom : 0.5px solid #ccc;
    padding: 12px 1px;
}
/*.monthe-single-news:last-child  {
    border-bottom: 0.5px solid #ccc !important;
}*/

.csr-events img {
    width: 104px !important;
    height: 49px !important;
}
.news-section {
    max-width: 65rem !important;
}

.button.button-table.plan-button {
    float: right;
    font-size: 1.25rem;
    margin-top: .625rem;
    padding: 1.3125rem .4375rem 1.3125rem 1.8125rem;
}



@media (min-width: 768px) and (max-width: 1024px){ 
    .news-update .banner-section {
        height: 505px;
        display: block;
        background-size: cover;
        background-position: center;
    }

} 
@media (min-width: 1024px){ 

    .news-update .monthe-single-news {
        display: flex;
    }
    .month-left-details {
        width: 40%;
        display: contents;
    }
    .monthe-single-news .news-date {
        width: 33%;
        color: #000;
        padding-left: 16px;
        font-size: 13px;
    }
    .monthe-single-news .news-category {
        width: 38%;
    }
    .monthe-single-news .news-details {
        width: 78%;
        padding-left: 10px;
    }
} 
@media (max-width: 1023px){ 


    .news-update .monthe-single-news {
        display: block;
    }

    .month-left-details {
        width: 100%;
        display: flex;
        margin-bottom: 6px;
    }

    .monthe-single-news .news-category {
        width: 45%;
    }
    .monthe-single-news .news-details {
        width: 100%;
        padding-left: 4%;
    }

} 
@media (min-width: 1025px){ 
    .news-update .banner-section {
        height: 535px;
        display: block;
        background-size: cover;
        background-position: center;
    }
    .news-update .banner-section .banner-text-section  .banner-text-container{
        padding-left: 20px;
    }
    .news-update .lc__intro-content {
        padding-left: 0px !important; 
        padding-right: 10px;
        padding-bottom: 70px;
    }
    #footer {
        padding-left: 50px !important;
    }

    .news-details a  span{
        position: absolute;
        right: 51.5%;
        margin-right: 10px;
    }
    .news-details a:hover span{

        /* color: rgb(255, 255, 255); */
        transition-duration: 0.5s;
        transform: rotate(-35deg);

    }

} 
.home.main.bleed .lc__intro-content {
    padding-bottom: 50px! important;
}
@media (min-width: 768px) and (max-width: 1023px){ 
    .month-news-container {
        padding-left: 4px;
    }
    .monthe-single-news .news-date {
        width: 25%;
        color: #000;
        padding-left: 16px;
        font-size: 13px;
    }

    .news-details a span {
        position: absolute;
        left: 6%;
        margin-right: 10px;
    }
    .news-sidebar-container a.news-link img {
        width: 60px;
        height: 60px;
        margin-right: 5px !important;
    }

    .news-sidebar-container a.news-link {
        display: flex;
        width: 100% !important;
        height: 75px;
        padding: 0% 3% !important;
        align-items: center;
        font-weight: 600;
        color: #fff;
        margin: 0% auto 8% auto;
        justify-content: left;
        font-size: 17px !important;
    }
}
@media (min-width: 768px) and (max-width: 1281px){
    .news-update .banner-text-section{
        padding: 1% 3%;
    }
    .news-update .banner-text-section {
        position: absolute;
        top: 154px !important;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .news-update .lc__intro-content {
        padding-left: 0px !important;
        padding-right: 10px;
        padding-bottom: 70px;
    }
    .plan-button  {
        padding: 1px 7px !important;
        height: 70px;
        width: 298px;
    }
    .feature-footer a.plan-button.button.button-table.large {
        margin-right: 6px;
        bottom: 0px! important;
        padding: 1px 8px;
    }

}

@media (min-width: 768px) {


    .news-update .banner-text-section {
        position: absolute; 
        top: 190px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .news-update .banner-text-section h6 {
        color: #fff;
        font-size: 16px;
        padding-left: 2px;
    }

    .news-update .banner-text-section h1 {
        color: #fff;
        font-size: 60px;
        line-height: 70px;
        text-transform: uppercase;
        font-weight: bolder;
        text-shadow: 0px 2px #000;
    }

    .news-update .feature-footer {
        width: 100% !important;
        position: absolute !important;
        bottom: auto !important;
        z-index: 100 !important;
    }

    .news-update .feature-footer .plan-button {
        width: 31.914894%;
    }

    .news-columns { display: flex; }

    .news-columns .lc__intro-content{
        width: 66.5%;
        padding-top: 1.5%;
        padding-right: 40px !important;
    }
    .news-columns .lc__sidebar{
        width: 33.5%;
        padding-top: 9%;
        background-color: #f6f4f4;
    }

    .news-update .widget_categories {
        border-top: none !important;
    }

    .feature-footer a.plan-button.button.button-table.large {
        margin-right: 6px;
        bottom: 0px! important;
        padding: 1px 8px;
    }


    .news-sidebar-container a.news-link {
        display: flex;
        width: 95%;
        height: 73px;
        padding-left: 6%;
        align-items: center;
        font-weight: 600;
        color: #fff;
        margin: 0% auto 8% auto;
        justify-content: left;
        font-size: 19px;
    }

    .news-sidebar-container a.news-link img {
        width: 60px;
        height: 60px;
        margin-right: 12px;
    }
}

@media (max-width: 767px) {

    .month-news-container {
        padding-left: 6%;
        padding-right: 6%;
    }
    .monthe-single-news .news-date {
        max-width: 50%;
        color: #000;
        padding: 0px 14px;
        font-size: 13px;
    }
    .news-sidebar-container a.news-link img {
        width: 60px;
        height: 60px;
        margin-right: 5px !important;
    }

    .news-sidebar-container a.news-link {
        display: flex;
        width: 100% !important;
        height: 75px;
        padding: 0% 6% !important;
        align-items: center;
        font-weight: 600;
        color: #fff;
        margin: 0% auto 8% auto;
        justify-content: left;
        font-size: 22px !important;
    }
    .news-sidebar-container a.news-link span{
        margin: 0% 8%;
    }

    news-update .lc__intro-content {
        padding-left: 0px !important;
        padding-right: 10px;
        padding-bottom: 70px;
    }

    .news-update .banner-section {
        height: 465px;
        display: block;
        background-size: cover;
        background-position: center;
    }
    .news-update .banner-section .plan-button{
        width: 103% !important;
        margin-left: -12px !important;
    }

    .news-update .banner-text-section {
        position: absolute; 
        top: 100px;
        padding: 4%;
        display: flex;
        justify-content: center;
        padding-left: 29px;
    }

    .news-update .banner-text-section h6 {
        color: #fff;
        font-size: 20px;
    }

    .news-update .banner-text-section h1 {
        color: #fff;
        font-size: 40px !important;
        line-height: 46px;
        text-transform: uppercase;
        font-weight: bolder;
        text-shadow: 0px 2px #000;
    }

    .news-update .feature-footer {
        width: 100% !important;
        position: absolute !important;
        bottom: auto !important;
        z-index: 100 !important;
    }

    .news-update .feature-footer .plan-button {
        width: 31.914894%;
        margin-right: 6px;
        bottom: 0px! important;
        padding: 1.3125rem 0.4375rem 1.3125rem 0.8125rem !important;
    }

    .feature-footer a.plan-button.button.button-table.large {
        margin-right: 6px;
        bottom: 0px! important;
        padding: 1.3125rem 1.4375rem 1.3125rem 1.8125rem! important;
    }

    .news-columns { display: block; }

    .news-columns .lc__intro-content{
        width: 100%;
    }
    .news-columns .lc__sidebar{
        width: 100%;
        background-color: #f6f4f4;
    }


    .news-category a:hover, 
    .news-category a {
        font-size: 13px;
        padding: 0px 7px 0px 7px;
        text-align: center;
        color: #fff;
        display: block;
        width: 131px;
        font-weight: 600;
        height: 23px;
    }
    aside.widget {
        margin-bottom: 30px;
        background-color: #f6f4f4;
        padding: 20px !important;
        border: 1px solid #edecec;
    }
    .csr-events img {
        width: 96px !important;
        height: 50px !important;
    }
    .feature-footer {
        margin-top: 22px;
    }
}

.news-section .button.button-table .last-icon-cell {
    margin-left: 2px solid #fff! important;
}




/* singal news and updates */
.single-news.banner-section {
    background-size: cover;
    background-position: center;
}
.single-news.banner-section h2.single-news {
    color: #fff;
    text-align: center;
    margin-top: 20%;
    position: absolute;
    margin-left: 40%;
}
.lc__intro-content.single-news-content {
    margin-top: 10%;
}



/* Contact-us page........ */

.contact-us-page {
    padding:inherit;
}


.contact-us-section {
    max-width: 65rem !important;
    color: #1c2354;
}

.contact-us-section .contact-section-title{
    margin-bottom: 1.8125rem;
}


.contact-us-page .banner-section img{
    height: 100%;
    width: 100%;
}

.contact-us-page .lc__sidebar .contact-us-details a, 
.contact-us-page .lc__sidebar .contact-us-details a:hover { 
    color: #1c2354 !important;
}

.contact-us-page .lc__sidebar .contact-us-details{
    color: #1c2354;
    display: inline-grid;
    font-size: 18px;
}
.contact-us-page .lc__sidebar .contact-us-details h3, 
.contact-us-page .lc__sidebar .contact-us-details strong{
    color: #1c2354;
    margin-top: 25px;
    margin-bottom: 2px;
}
.contact-us-page .contact-name-field p{
    margin-bottom: 0px !important;
}
.contact-us-page label{
    letter-spacing: 2px !important;
}


@media (min-width: 768px) {

    .contact-us-page .banner-text-section {
        position: absolute; 
        top: 190px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .contact-us-page .banner-text-section h6 {
        color: #fff;
        font-size: 20px;
    }

    .contact-us-page .banner-text-section h1 {
        color: #fff;
        font-size: 60px;
        line-height: 70px;
        text-transform: uppercase;
        font-weight: bolder;
    }

    .contact-us-columns { display: flex; }

    .contact-us-columns .lc__intro-content{
        width: 70%;
        padding: 6% 3% 6% 0%;
        padding-right: 40px !important;
    }
}

@media (min-width: 1024px){
    .contact-us-columns .lc__sidebar{
        width: 30%;
        padding: 12.3% 3% 9% 4%;
        background-color: #f6f4f4;
    }
}
@media (min-width: 768px) and (max-width: 1023px){

    .contact-us-columns .lc__sidebar {
        width: 30%;
        padding: 15.3% 3% 9% 4%;
        background-color: #f6f4f4;
    }
    .contact-us-page .banner-section {
        height: 380px;
        display: block;
        background-size: cover;
        background-position: center;
    } 
    .contact-us-page .name-controls-section {
        display: flex;
        width: 90%
    }
    .contact-us-page .phone-control,
    .contact-us-page .name-controls-section .first-name-control{
        width: 35%;
        margin-right: 5px;
    }
    .contact-us-page .name-controls-section .last-name-control{
        width: 65%;
    }
    .contact-us-page .phone-control {
        margin-top: 25px;
    }
    .contact-us-page .email-control {
        width: 90%;
    }
    .contact-us-page .phone-control input,
    .contact-us-page .email-control input,
    .contact-us-page .comment-control textarea,
    .contact-us-page .name-controls-section .last-name-control input,
    .contact-us-page .name-controls-section .first-name-control input{
        width: 100% !important;
    }
}
@media (max-width: 1281px) {
    .contact-us-page .lc__intro-content {
        padding-left: 3% !important;
    }
}
@media (max-width: 1024px) {
    /*    .contact-us-page .lc__intro-content {
            padding-left: 3% !important;
        }*/
    .contact-us-page .banner-text-section {
        padding: 1% 4%;
    }
}
@media (min-width: 1025px) { 
    .contact-us-page .banner-text-section {
        padding: 1% 3%;
    }
}
@media (min-width: 1800px) { 
    .news-update  .banner-section,
    .contact-us-page .banner-section {
        display: block;
        background-size: cover;
        background-position: center bottom !important;
        height: 505px !important;
        display: block;
        background-size: cover;
    }
}
@media (min-width: 1024px) {

    .contact-us-page .banner-section {
        height: 470px;
        display: block;
        background-size: cover;
        background-position: center;
    } 
    .name-controls-section {
        display: flex;
        width: 75%
    }
    .contact-us-page .phone-control,
    .contact-us-page .name-controls-section .first-name-control{
        width: 35%;
        margin-right: 5px;
    }
    .contact-us-page .name-controls-section .last-name-control{
        width: 65%;
    }
    .contact-us-page .phone-control {
        margin-top: 25px;
    }
    .contact-us-page .email-control {
        width: 75%;
    }
    .contact-us-page .phone-control input,
    .contact-us-page .email-control input,
    .contact-us-page .comment-control textarea,
    .contact-us-page .name-controls-section .last-name-control input,
    .contact-us-page .name-controls-section .first-name-control input{
        width: 100% !important;
    }
}

@media (max-width: 767px) {

    .contact-us-page .inner-news-content {
        padding-top: 10%;
        padding-left: 2%;
    }

    .contact-us-page .banner-section {
        height: 315px;
        display: block;
        background-size: cover;
        background-position: center;
    } 
    .contact-us-page .banner-section .banner-text-section {
        position: absolute; 
        top: 100px;
        padding: 4% 3% 4% 6%;
        display: flex;
        justify-content: center;
    }
    .feature-footer {
        margin-top: 22px;
    }
    .contact-us-page .banner-text-section h6 {
        color: #fff;
        font-size: 20px;
    }

    .contact-us-page .banner-text-section h1 {
        color: #fff;
        font-size: 32px;
        line-height: 40px;
        text-transform: uppercase;
        font-weight: bolder;
    }

    .contact-us-columns { display: block; }

    .contact-us-columns .lc__intro-content{
        width: 100%;
        padding: 1%;
    }
    .contact-us-columns .lc__sidebar{
        width: 100%;
        background-color: #f6f4f4;
        padding: 4% 5% 14% 5%;
        background-color: transparent;
    }

    .contact-us-page .name-controls-section {
        display: flex;
        width: 98%
    }
    .contact-us-page .name-controls-section .first-name-control{
        width: 35%;
        margin-right: 5px;
    }
    .contact-us-page .name-controls-section .last-name-control{
        width: 65%;
    }
    .contact-us-page .phone-control {
        margin-top: 25px;
        width: 98%;
    }
    .contact-us-page .comment-control,
    .contact-us-page .email-control {
        width: 98%;
    }
    .contact-us-page .phone-control input,
    .contact-us-page .email-control input,
    .contact-us-page .comment-control textarea,
    .contact-us-page .name-controls-section .last-name-control input,
    .contact-us-page .name-controls-section .first-name-control input{
        width: 100% !important;
    }

}

.contact-us-page label {
    text-transform: uppercase;
}

.contactSubmitbtn
{
    color: #000 !important;
    border-radius: 0 !important;
    border: 1px solid #ccc !important;
    padding: 1px 12px !important;
    height: 29px;
    padding-top: 4px !important;
    font-family: inherit !important;
}

input.wpcf7-form-control.wpcf7-submit.contactSubmitbtn {
    background-color: #e8e6e6 !important;
    font-size: 18px;
    letter-spacing: 1px;
}

@media screen and (min-width: 601px) {
    .news-update .lc__intro-content {
        padding-left: 17px !important; 
        padding-right: 10px;
        padding-bottom: 70px;
    }
}

#footer .footer-link{max-width: 65rem !important;}


/*Single news page*/

.single-news-content h2.single-news-title {
    font-weight: 200 !important;
    font-size: 28px !important;
    line-height: 2rem;
}
.single-news-content h2.single-news-title .single-news-date {
    font-size: 18px !important;
}

/*.current_page_item {
    border-bottom: 3px solid #ffb000 !important;
}*/


.current_page_item a {
    color: #ffb000 !important;
}




