@import "style.css";



#feature .carousel-container .arrows {
    bottom: 0;
    margin-left: -34.9375rem;
    top: 53% !important;
}

.content .about-jmi.tai__image-beside-text .ce-content p {
    font-size: 15px;
    line-height: 20px !important;
}
.content .about-jmi.tai__image-beside-text .ce-content .internal-link{
    letter-spacing: .7px;
}
.professions .column-1 {
    padding-left: 15px;
}
.content.explore.news {
    width: 48.4rem !important; 
}
.content.explore.contact {
    width: 41.75rem !important; 
}
.content.news column-2 {
    padding-bottom: 45px! important;
}

.content.news .column-1 {
    padding: 30px 43px 10px 30px !important;
}
.content.contact .column-1 {
    padding: 32px 34px 31px 32px !important;
       
}
.content.professions.news .column-1 {
    width: 568px !important;
} 

.content.news .column-1 .ce-content {
    padding: 0px 20px 8px 6px !important;
}
.content.news .column-1 .ce-content .internal-link{
    letter-spacing: 0.7px;
    font-size:14px;
}

.content.contact .column-1 .ce-content{
     padding: 0px 0px 8px 6px !important;
     font-size:13px;
     line-height:19px;
     color:#000;
}

#header .nav-global .content.contact {
}

#header .nav-global .content.contact .contact-img {
    padding-top: 35px !important;
    padding-left: 37px !important;
    padding-right: 37px !important;
    padding-bottom: 35px !important;
    margin-bottom: 0px !important;
}
#header .nav-global .content.contact section {
}
#header .nav-global .content.contact column-2  {
    width: 300px !important;
    padding: 0px 30px !important;
}



@media only screen and (max-width: 600px) {

    .lc__mobile-bleed-sides {
        padding-top: 0rem !important;
        padding-bottom: 0rem !important;
    }
    .professions-slider img.background-image {
        height: 100% !important;
    }
    .home.main.bleed .lc__intro-content {
        padding-bottom: 3%;
    }
    #feature.feature-footer-active>.inner-wrap {
        padding-bottom: 0rem;
    }
    .bh__content {
        display: table-cell;
        vertical-align: middle;
        padding: 1.875rem 2.875rem 2.125rem !important;
    }
    .lc__home-intro .lc__sidebar .direction-link {
        margin-top: 1.625rem !important;
    }
    .layout-container .carousel-container .feature-quote {
        padding: 0.625rem .625rem 0rem;
    }
    .ce-content {
        margin-bottom: 0rem! important;
    }
    .lc__content .rte-content dl:last-child, .lc__content .rte-content ol:last-child, .lc__content .rte-content p:last-child, .lc__content .rte-content ul:last-child, .lc__content .tai__image-group-wrap:last-child {
        margin-bottom: 2% !important;
    }
    .carousel-background-block .content-area {
        margin: 0 1.9375rem;
    }
    #footer .footer-link .columns .column-header {
        margin-bottom: 0rem! important;
    }
    p.future_explore a.internal-link {
        width: max-content;
    }


    .feature-footer a.plan-button.button.button-table.large {
        margin-right: 6px;
        bottom: 0px !important;
        position: relative;
    }
}


@media (min-width: 601px) and (max-width: 1023px) {
    #header .nav-utility{
        margin: 0 0 1.3rem; 
    }
    #header .site-id {
        width: 258px !important;
        margin: -11px 0 49px;
    }
    #header .site-id .group{
       margin-top: -18px;
    }
}

@media only screen and (max-width: 1024px) {
    #header .site-id .group{
       margin-top: -20px;
    }
    .jmi5oth {
        width: 51px;
        margin-left: 13%;
        line-height: 23px;
    }
    .bh-color__theme-c20045 #feature .carousel-container .arrows {
        bottom: auto !important;
    }
    #header .nav-global__list { 
        padding: 0;
        list-style: none;
        float: right;
        font-size: .8rem;
        line-height: 0rem !important;
        position: relative;
    }

    .top-slider .cycle-prev,
    .top-slider .cycle-next {
        display: none !important;
    }
    .lc__home-intro .lc__background-2 {
        width: 67%;
    }

    #header .nav-global__list li {
        margin: .6875rem 0 0 .7rem !important;
        padding: 0;
        text-indent: 0;
        float: left;
        font-weight: 700;
    }


}
@media only screen and (min-width: 411px) and (max-width: 731px) {
    #header .site-id .jmi5oth{
        margin-top: -20px;
        margin-left: 30%;
    }
    #header .site-id .group{
        margin-top:-20px;
        
    }
}

/* ipad */
/* @media screen and (max-width: 48em){
    #header .nav-global #magic-line {
        background: #ffb000 !important;
    }
    #header .nav-utility .nav-utility__item:nth-child(n+3) {
        border-right: none;
    }
    #header .site-id{
    margin: 19px 0 34px;
    width: 450px;
    height: 66px;
    margin-bottom: 0px;
    }
    #header .site-id .jmi-logo{
        float: left;
    }
    #header .site-id .jmi5oth{
    float: left;
    width: 51px;
    margin-left: 50%;
    line-height: 23px;
    }
    #header .site-id .group{
        float:right;
        margin-top:0px;
    }

    .bh__link-underline{
        margin-bottom: 20px;
        margin-top:20px;
        
    }
    .bh__link-underline li{
        margin-bottom:0px! important;
    }
 

} */