@font-face {
    font-family: Proxima-Nova-Bold;
    src: url(fonts/Proxima-Nova-Bold.woff);
}

@font-face {
    font-family: ProximaNovaRegular;
    src: url(fonts/Proxima-Nova-Bold.woff);
    font-weight: 600;
}


@font-face {
    font-family: ProximaNovaRegular;
    src: url(fonts/Proxima-Nova-Bold.woff);
    font-weight: 700;
}

@font-face {
    font-family: ProximaNovaRegular;
    src: url(fonts/Proxima-Nova-Bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: ProximaNovaRegularLight;
    src: url(fonts/Proxima-Nova-Reg.woff);
}

@font-face {
    font-family: Minion-SemiBold;
    src: url(fonts/minionpro-semibold.woff);
}

@font-face {
    font-family: Minion-concept-italic;
    src: url(fonts/minionpro-italic.woff); 
}
@font-face {
    font-family: optima;
    src: url(font/optima.ttf);
}
@font-face {
    font-family: WCL02;
    src: url(fonts/WCL-02.ttf); 
}
@font-face {
    font-family: 'HanWangWCL02';
    src: url('fonts/HanWangWCL02.woff2') format('woff2'),
        url('fonts/HanWangWCL02.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSerifCJKtc-Black_1';
    src: url('fonts/NotoSerifCJKtc-Black_1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSerifCJKtc-Bold_0';
    src: url('fonts/NotoSerifCJKtc-Bold_0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSerifCJKtc-ExtraLight_0';
    src: url('fonts/NotoSerifCJKtc-ExtraLight_0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSerifCJKtc-ExtraLight_0';
    src: url('fonts/NotoSerifCJKtc-ExtraLight_0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSerifCJKtc-Light_0';
    src: url('fonts/NotoSerifCJKtc-Light_0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSerifCJKtc-Medium_0';
    src: url('fonts/NotoSerifCJKtc-Medium_0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSerifCJKtc-Regular_0';
    src: url('fonts/NotoSerifCJKtc-Regular_0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSerifCJKtc-SemiBold_0';
    src: url('fonts/NotoSerifCJKtc-SemiBold_0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    overflow-x: hidden;
}
.products .tai__image-beside-text .ce-content p{
    font-size: 14px;
    line-height: 16px! important;
}
.tai__image-beside-text .ce-content p{
    font-size: 14px;
    line-height: 18px! important;
} 
.news .tai__image-beside-text .ce-content p{
      font-size: 14px;
    line-height: 17px! important;
}
#header .nav-global .products a{
    font-size: 12px;
    line-height: 15px;
    color: #4aa7e9;
}
   
#header .nav-global .products .internal-link{
    font-size: 14px;
    letter-spacing: .7px;
}
.home.main.bleed .lc__intro-content {

    position: relative;
    padding-bottom:58%;
}

.home.main.bleed .curiosity-badge {

    position: absolute;
    height: 192px;
    width: 100%;
    bottom: 0;
    left: 0;

    background-color: #fff;
}

.home.main.bleed .curiosity-badge__icon {
    display: block;
    width: 55%;
    height: 100px;
    margin: -50% auto 0;
}

.home.main.bleed .curiosity-badge__icon-wrap {

    position: absolute;
    width: 42%;
    height: 100%;
    background-color: #fff;
    float: left;
    padding: 139px 25px 31px;

}

span.line.quote {
    font-family: Proxima-Nova-bold;
    line-height: 108%;
    /*font-weight: bold;*/
}
.home.main.bleed .curiosity-badge__plan-visit {
    display: block;
    width: 100%;
    padding: 17% 0 17% 42%;

    color: white;
    font-family: proxima-nova;
    font-size: 23px;
    font-weight: 700;
    text-align: center;

    background-color: #1882b0;
}


.home.main.bleed .curiosity-badge__plan-visit:hover {

    background-color: #146386;

}

/*Anjali's code*/


.nav-global__item .trigger{ list-style: none; }
.nav-global__item .trigger{ float: left; margin-left: 2.25rem; }
.navUtility-link:before{
    display: none !important;
}
#header-outer-wrap.offscreen .site-id{
    margin-top: -15px !important;   
}
#header-outer-wrap.offscreen .site-id .jmi-logo{
    margin-left: 0px;   
}
#header-outer-wrap.offscreen .site-id .group{
    display: none !important;
}
#header-outer-wrap.offscreen .site-id .jmi{
    display: none !important;
}
.big-header .bh__background-image{
    max-width: 100rem;
}
.big-header .top-line{
    font-family: 'Minion-concept-italic' !important;
    font-style: normal !important;
}
#header .site-id{
    margin: 6px 0 34px;
}
#header .site-id .jmi-logo{
    float: left;
    margin-left: -85px;
}
#header .site-id:before{
    display: none !important;
}
div.subtitle{font-family: ProximaNovaRegular;}
a.slide-points, span.text-cell, h1.h1-match {
    font-family: Proxima-Nova-Bold;
}
#header .site-id .jmi{
    color: #ffb000;
    font-weight: 600;
    font-size: 34px;
    margin: 0;
    text-align: center;   
}
#header .site-id .group{
    color: #ffb000;  font-weight: 600; font-family: optima;   margin: 0;    text-align: right;    margin-top: 0px;    font-style: italic;    font-size: 18px;

}
#header .nav-global__list li a.nav-global__link:hover{
    color: #ffb000;
}

/*img.header-logo {
    position: absolute;
    top: 0; 
    left:0;
}*/

.bh__content .bh__link-type {
    margin-left: 0;
    padding-left: 14px;
}
.bh__content .bh__link-type li{
    list-style: none;
}
.bh__content .bh__link-type li a{
    font-weight: 600;
    color: #fff !important;
    font-size: 17px;
}
.bh__content .bh__link-type li a:hover{
    color: #ffb000 !important;
}
.button.button-table.large .last-icon-cell{
    padding: 0 0.25rem 0px 1.5rem !important;
}
.text-and-images .rte-text-medium .internal-explore {
    width: 12%; }
@media screen and (max-width: 1125px){
    #header .site-id .jmi, .group, .jmi5oth{
    }
    #header .site-id .jmi-logo{
        float: none;
        margin-left: 0px;
    }
}
@media screen and (max-width: 1024px){
    .cycle-slideshow .cycle-next .fa-angle-right{
        display: none;
    }
    .cycle-slideshow .cycle-prev .fa-angle-left{
        display: none;
    }
    .top-slider .cycle-next .fa-angle-right{
        display: none;
    }
    .top-slider .cycle-prev .fa-angle-left{
        display: none;
    } 
    .lc__home-intro .lc__background-3{
        background: url('/JMIpage/JMI/img/build.jpg') !important;
    }
    .lc__home-intro .lc__background-2{
        display: block;
        width: 71%! important;
    }
    .nav-global__list{ 
        margin-top: 2%! important
    }
    
}
@media screen and (max-width: 767px){
    .carousel-background-block .content-area .text .line-quote, .line-more{
        width: 100% !important;
        margin-bottom: 0px;
    }   
}
@media screen and (max-width: 768px) and (min-width: 600px){
    .lc__background.lc__left-of-center.lazyloaded{
        background-size: cover !important;
        margin-top: 70px !important;
    }
}
@media screen and (max-width: 767px){
    .button.button-table.large .last-icon-cell{
        padding: 0 0.25rem 0px 2.5rem !important;
    }

    .carousel-background-block .content-area{
        padding: 0px;
        margin: 0px;
    }
    .structured-carousel .second-slide{
        margin-left: 1% !important;
    }
    .lc__home-intro .lc__sidebar .address{
        font-size: 20px !important;
    }
    .map_location{
        top: 40% !important;
    }
    .lc__theme-color-2.text-transparent .map-type{
        margin-left: 0 !important;
    }
    #feature .carousel-container .top-content{
        padding-top: 35px;
    }
    .lc__home-intro .lc__background-3{
        background: url('/JMIpage/JMI/img/build.jpg') !important;
    }
    .medium-24 .lc__home-intro .lc__content .columns {
        margin-top: 67px;
    } 
    .home-quote-btn{
        left: 0px! important;
        bottom: 0px! important;
        top:113%;
    }
    #footer .footer-end .privacy{
        padding-top: 0rem;
    }

}
@media screen and (min-width: 48em){
    #header .nav-global .content.explore .arrow-up {
        margin-right: 35.875rem;
    }
    #header .nav-global .content.products .arrow-up{
        margin-right: 28.875rem;
    }
    #header .nav-global .content.professions .arrow-up{
        margin-right: 9.5rem;
    }
    #header .nav-global .content.professions .column-1{
        width: 100%;
    }
    #header .nav-global .news .column-1{
        width: 558px !important;
    }
    #header .nav-global .news .column-2{
        width: 216px !important;
        padding-top: 21px! important;
        padding-bottom: 20px! important;
        padding-left: 18px! important;
    }
    #header .nav-global .news .column-2 .dropdown-arrow-list {
        padding: 0.40rem 0.5625rem !important;
    }
    #header .nav-global .content.professions .column-2 .dropdown-arrow-list li a:hover{
        color: #2aa9e0!important;
    }


    #header .nav-global .content.explore .profession-2 {
        background-color: #2aa9e0 !important; 
    }
    #header .nav-global .content.professions .column-2 .see-all{
        font-size: 13px;
        padding-left: 10px;
        padding-top: 6px;   
    }
    #header .nav-global .content.professions .column-2{
        width: 230px;  
        padding: 0px !important; 
    }
    #header .nav-global .content.professions .dropdown-arrow-list{
        padding: .5rem 1.25rem;  
    }
    #header .nav-global .content.professions .dropdown-arrow-list p .see-all{
        font-size: 14px;
        letter-spacing: .7px;
        line-height: 15px;
        margin: 10px 10px;
        color: #4aa7e9;
    }
    #header .nav-global .content.professions .dropdown-arrow-list p .see-all:hover{
        color: #0a1f54!important;
    }
    #header .nav-global .content.news .arrow-up{
        margin-right: 10.875rem;
    }
    #header .nav-global .content.news .column-1{
        padding: 25px 25px 0px 25px;
    }
    #header .nav-global .content.news .rte-content h4{
        color: #000;   
        margin-top: 3px !important;
        margin-bottom: 0.5625rem !important; 
        font-size: 18px;
    }
    #header .nav-global .content.contact .rte-content h4{
        color: #000;   
        margin-top: 0px !important;
        margin-bottom: 0.5625rem !important; 
        font-size: 18px;
    }
    #header .nav-global .content.news .rte-content p{
        line-height: 1.5;
        color: #000;   
        margin-bottom: 12px;
    }
    .tai__image-beside-text .news-img{
        float: right;
    }
    #header .nav-global .content.news .column-2{
        padding: 0px 0px 63px 0px;
    }
    #header .nav-global .content.contact .arrow-up{
        margin-right: 1.875rem;
    }
    #header .nav-global .content.contact .rte-content p{
        margin-bottom: 0px;
    }
    #header .nav-global .content.contact .rte-content .phone{
        margin-top: 12px;
    }
    #header .nav-global .content.contact .contact-img{
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }
    #header .nav-global .content.contact .contact-img .get-quote{
        padding-top: 15px;
        letter-spacing: .7px;
        font-size: 14px;
    }
    #header .nav-global .content.contact .column-2{
        padding: 0px !important;
    }
}

a.arrow-link:before{
    display: none;
}
a.arrow-link{
    padding-left: 0px;
}
.carousel-container .cycle-pager .cycle-pager-active{
    color: #ffb000;
}
.bh__info {
    font-family: ProximaNovaRegular;
}
@media screen and (min-width: 411px) and (max-width:823px){
    #f1a.home.main #feature>.inner-wrap{
    }
}
@media screen and (min-width: 48em){
    
/*    #header .nav-global .content .dropdown-arrow-list {
        padding-left: 25px;
        padding-top: 25px;
        padding-bottom: 20px;
        padding-right: 10px;
    }*/
    #header .nav-global .products .dropdown-arrow-list{
    padding-left: 27px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 10px;
    }
    #header .nav-global .about-jmi .dropdown-arrow-list ul li{
        line-height: 18px;
    }
    #header .nav-global .about-jmi .dropdown-arrow-list ul li {
        font-size:15px;
    }
    #header .nav-global .content .dropdown-arrow-list ul li a{
        font-size: 0.96rem;
    }
    #header .nav-global .products .dropdown-arrow-list ul li a{
        padding: 9px 9px; 
    }
    #header .nav-global .products .dropdown-arrow-list ul li:nth-child(1) a{
         padding: 5px 9px 9px 9px;
    }
    
    #header .nav-global .content .dropdown-arrow-list ul li:nth-child(n+2) a {
        font-weight: 500;
    }
    #header .nav-global .professions .column-1 .dropdown-arrow-list ul li:nth-child(1) a {
            font-weight: 500;
    } 
     #header .nav-global .professions .column-2 .dropdown-arrow-list ul li:nth-child(1) a {
    } 
    #header .nav-global .content.news .column-2 .dropdown-arrow-list ul li a:hover{
            color: #2aa9e0!important;
            text-decoration: none;
    }
/*    #header .nav-global .content.explore .column-2{
        padding-top: 25px! important;
        padding-bottom: 20px! important;
        padding-left:20px! important;
        padding: 2.5rem 1.5rem .9375rem 1.125rem;
    }*/
    #header .nav-global .products .column-2{
        padding-top: 25px! important;
        padding-bottom: 25px! important;
        padding-left:40px! important;
        padding: 2.5rem 1.5rem .9375rem 1.125rem;
    }
    #header .nav-global .content.about-jmi .column-2{
        padding: 35px 30px 32px 35px;
    }
    #header .nav-global .content.explore .column-2 p {
        letter-spacing: 0.3;
        color: #000 !important;
    }
    #header .nav-global .content.explore .column-2{
        background-color: #fff !important;
    }
    #header .nav-global .content.explore .professions {
        background-color: #dedfe1 !important;
        padding-top: 0px! important;
    }
    #header .nav-global .content.explore .column-1{
        background-color: #dedfe1 !important;
    }
    #header .nav-global .content.about-jmi .column-1{
    padding-left: 25px;
    padding-top: 30px;
    padding-right: 5px;
    padding-bottom: 20px;
    }
    #header .nav-global .products .column-1{
        width:222px! important;
    }

    .lc__home-intro .lc__sidebar .address{
        font-family: 'ProximaNovaRegular';
        font-size: 22px;
    }
    .lc__home-intro .lc__sidebar{
    width: 27.914894%;
    }    
    .address span.old{
        color: #737373;
    }
    
    .lc__home-intro .lc__sidebar .fac{
    }
    .history-content .fac{

    }
    .carousel-background-block{
        height: 7.25rem;
        width: 100%;
        float: left;
       margin-top: 14rem;
        padding: 0.125rem;
        overflow: hidden;
        z-index: 100;
    }
    .robot-boy .lc__background.lc__left-of-center{
        width: 45%;
    }
    #footer .newsletter-form .contact-btn{
        width: 162px;
    }

    .lc__home-intro .lc__background-2{
        width: 60%;
        background: none;
    }
    .robot-boy.layout-container .row.lc__content.narrow-right .columns{
       padding-right: 4%;
    }

}
@media screen and (min-width: 1600px){
    .robot-boy .lc__background.lc__left-of-center {
        width: 38%;
    } 
    .big-header .bh__background-image{
        max-width: 100% !important;
    } 
    .feature-footer a.plan-button.button.button-table.large {
        margin-right: 50px !important;
    } 
    .layout-container .lc__inner-wrap{
        padding-top: 6.125rem;

    }
    .layout-container .message_quote{
        padding-top: 0px;
    }
    .lc__home-intro .lc__inner-wrap{
        padding-top:0px;
    }
    
    .plantsandoffice{
        padding-top: 11.125rem! important;
        padding-bottom: 11.125rem! important;
    }
    .top-slider .cycle-prev{
        left: 6%! important;
    }
    .top-slider .cycle-next{
        right: 6%! important;
    }
    .lc__home-intro .lc__sidebar .direction-link .indicator{
        width: 51%! important;
        left: -57%! important;
    }
    .lc__home-intro .lc__sidebar .direction-link{
        margin-left:0.2rem; 
    }
    .professions-slider img.background-image{
        /*height: calc(100% - 50px)  !important;*/

    }
    .lc__home-intro .lc__sidebar .direction-link a{
        font-size: 24px;
    }
        div[direction-link] {  margin-top: 13.5rem !important; }
        .layout-container .row.lc__content.lc__wide{
            max-width: 59em! important;
        }
        .aboutjmi-cecontent .internal-explore-type, .aboutjmi-cecontent .internal-explore-type-paragraph{
            margin-left:23px;
        }
        #footer .newsletter-social-wrap{
        }
        #footer .footer-link{
        }
        #footer .footer-link .footer-list a{
        }
        
}

@media screen and (min-width: 1900px){
    .lc__home-intro .lc__background-2 {
        width: 56.8%;
    }   

    .robot-boy .lc__background.lc__left-of-center {
        width: 33%;
        position: absolute;
        left: 8%;
    } 
}
@media screen and (min-width: 2500px){
    .lc__home-intro .lc__background-2 {
        width: 56%;
    }   

    .robot-boy .lc__background.lc__left-of-center {
        width: 26%;
        position: absolute;
        left: 18%;
    } 
}
@media screen and (min-width: 3800px){
    .lc__home-intro .lc__background-2 {
        width: 54%;
    }   
    .robot-boy .lc__background.lc__left-of-center {
        width: 20%;
        position: absolute;
        left: 25%;
    }
}
@media screen and (min-width: 4800px){
    .lc__home-intro .lc__background-2 {
        width: 52%;
    }   
}
@media screen and (min-width: 48em) and (min-width: 64em){
    .tai__image-beside-text .tai__image-group-wrap.large {
        margin-right: 6%;
        width: 51.446809%;
        margin-bottom: 10px;
    }
    #header .nav-global .products .tai__image-beside-text .tai__image-group-wrap.large{
        margin-right: 32px;
    }
    #header .nav-global .about-jmi .tai__image-beside-text .tai__image-group-wrap.large{
        margin-right: 32px;
    }
    #header .nav-global .content.about-jmi{
        margin-right: 195px;
    }
    #header .nav-global .content.products{
        margin-right: 72px;
    }
    #header .nav-global .content.about-jmi .internal-link u{
        letter-spacing: .7px;
        font-size: 13px;
    }
    
    #header .nav-global .content.products .column-2{
        width:462px;
        
    }
    #header .nav-global .content.professions{
        margin-right: 195px;
        width:41rem! important;
    }
    #header .nav-global .content.explore{
        
    }
    #header .nav-global .content.explore .arrow-up{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    }
    #header .nav-global .content.about-jmi .arrow-up{
        border-bottom: 10px solid #fff;
        margin-right: 26rem;
    }
     #header .nav-global .content.professions .arrow-up{
        border-bottom: 10px solid #dedfe1;
    }
    #header .nav-global .content.products .arrow-up{
        border-bottom: 10px solid #fff;
        margin-right: 26rem;
    }
    #header .nav-global .content.news .arrow-up,#header .nav-global .content.contact .arrow-up {
         border-bottom: 10px solid #fff;
    }
    #header .nav-global .content.explore{
        width: 43rem;
        background-color: #dedfe1;
    }
    #header .nav-global .content.professions{
        
    }
    .tai__image-beside-text .tai__image-group-wrap.news-img{
        margin-right: 0.638298%;
        padding-left: 10px;
        margin-top:6px;
        
    }

}
.text-and-images .rte-text-medium .internal-explore{
    border-bottom: 2px solid #2aa9e0 !important;
    width: max-content;
}
a.internal-link.arrow-link.internal-explore.ui-link{
    color: #2aa9e0;
    line-height: inherit;
}
a.explore-points.ui-link{
    color: #2aa9e0;
}
a.explore-points.ui-link:hover{
    color: #0a1f54;
}

.text-and-images .rte-text-medium .internal-explore:hover{
    border-bottom: 2px solid #0a1f54 ;
}
.text-and-images .rte-text-medium .internal-explore-type li:before{
    display: none;   
}
.text-and-images .rte-text-medium .internal-explore-type li a{
    font-weight: 600;
    font-size: 16px;
    font-family: Proxima-Nova-bold;
}
.direction-link {  margin-top: 14rem! important; }
/*.internal-explore-type-hide{ display: none }
ul.internal-explore-type-hide {list-style: none;}
ul.internal-explore-type-hide li.hide {display: none;}*/

.carousel-background-block div.slide.cycle-slide{
    width: 100% !important;
}
.carousel-background-block{
    background-color: #d8a731c9;
    opacity: 1;
}
.carousel-background-block .content-area{
    margin: 0 3.9375rem;
}
.carousel-background-block .content-area .text p{
    margin-bottom: 0;
    opacity: initial;
    font-weight: 600;
}
.carousel-background-block .content-area .text .electro{
    font-weight: 400;
}
.carousel-background-block .content-area .text .quote-line{
    font-size: 30px;
}
.carousel-background-block .content-area .text .line-quote{
    display: inline;
    float: left;
    width: 68%;
}
.carousel-background-block .content-area .line-more .more-{
    float: right;
    width: 40%;
}
.carousel-background-block .content-area .line-more .more-slide{
    color: #fff;
    border-bottom: 1px solid #fff;
    font-size:20px;
}
.carousel-background-block .content-area .line-more .more-slide:hover{
    color: #2aa9e0 !important;
    border-bottom-color: #2aa9e0;
}
.structured-carousel .second-slide{
    margin-left: 89%!important;
}
.carousel-container .second-slide .cycle-pager{
    top: 1.0375rem;
    transform: rotate(270deg);
    left: -96px;

}
.carousel-container .second-slide .cycle-pager .cycle-pager-active{
    color: #2aa9e0;
}
@media screen and (max-width: 888px){
    .carousel-background-block .content-area{
        padding: 1.5625rem 0;
    }
    .carousel-background-block .content-area .text .quote-line{
        font-size: 22px;
    }
}
@media screen and (max-width: 601px){
    .home.main.bleed .curiosity-badge{
        display: none;
    }
    .home.main.bleed .lc__intro-content {
        padding-bottom: 0%;
    }
    .map_location {
        display: none;
    }
}
.headline-group .future-subtitle, .future-maintitle{
    color: #2aa9e0;
}

.future-maintitle h2{
    font-size: 40px;    
}
.lc__content .rte-content .future-links li:before{
    display: none;
}
p.future_explore a.internal-link {
    border-bottom: 2px solid #2aa9e0 !important;
    width: max-content;
}
.robot-boy .lc__background.lc__left-of-center{
    background-position: right bottom;
}
@media screen and (min-width: 64em){
    .lc__pad-bottom-15{
        padding-bottom: 0;
    }   
    .lc__pad-top-175{
        padding-top: 5.6rem;
        margin-top: 10px;
    }
    .support-container .columns{
        max-width: 26.75rem;
    }
    .lc__pad-bottom-3 {
        padding-bottom: 60px;
        padding-top: 205px;

    }

    .lc__home-intro .lc__sidebar { padding: 6rem 0 19.875rem !important;}
}
@media screen and (min-width: 1028px){
    .lc__sidebar .history-content h3{
        font-size: 22px !important;
        width: 325px !important;
        margin-left: 0px;
    }   
}
@media screen and (max-width: 768px){
   
    .home.main.bleed .curiosity-badge__icon-wrap{
        padding: 115px 25px 38px !important;
    }
}
@media screen and (max-width: 600px){
    .robot-boy .lc__background.lc__left-of-center{
        background-position: left bottom;
    }
}
@media screen and (max-width: 418px){
    #footer .newsletter-form .contact-btn{
        width: auto;
    }
    .footer-end .privacy .right-icon{
        display: none !important;
    }
    .lc__theme-color-2.text-transparent .map-type li a {
        font-size: 13px;   
    }
    .text-and-images .rte-text-medium .internal-explore
    {
        width: 19%;
    }
    p.future_explore a.internal-link { width: max-content;}

}

.lc__theme-color-1 .feature-quote .slide-icon{
    position: relative;

    width: 83px;
    height: 60px;

}
.lc__theme-color-1 .feature-quote .slide-icon:after{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;


    border-left: 0;
    border-bottom: 0;
    margin-top: -3px;
    margin-left: -18px;
}
.lc__theme-color-1 .feature-quote .slide-icon img{
    opacity: 1;
    border-radius: 0.2em;
    margin-bottom: 3rem;
}


.lc__theme-color-1 .feature-quote .slide-icon:before{
    display:none;
}
.carousel-container .cycle-pager-4823 .cycle-pager-active{
    color: #fff;
}
.feature-quote .quote-content{
    font-family: 'Minion-concept-italic';
}
blockquote{
    font-family: 'ProximaNovaRegular';
}
.feature-quote{
    color: #fff;
}
.person{
    font-weight:normal;
}
.lc__bleed-left.lc__theme-color-1 .slide-background-img{
    background-image: url(http://jmi.code.luminoguru.com/wp-content/uploads/2018/09/NF-Site-BW.jpg);
    padding: 0px 29.5em 0px 0px;
    background-size: cover;
    background-position: center;
}

.lc__bleed-left .slide-background-img .grad{
    padding-right: 29.5em;
    float: left;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right,#03A9F4,#03A9F4);
    opacity: .8;
}

@media screen and (max-width: 1100px){
    .lc__bleed-left{
        background-color: #fff;
    }
    .lc__bleed-left .slide-background-img{
        width: 100% !important;
    }
}

@media screen and (min-width: 37.5em){
    .layout-container .row.lc__content.narrow-left .columns {
        width: 50%;
    }
}

.lc__theme-color-2.text-transparent .great{
    opacity: .9;
}
.lc__theme-color-2.text-transparent .map-type li:before{
    display: none;   
}
.lc__theme-color-2.text-transparent .map-type{
    margin-left: 1.875rem;   
}
.lc__theme-color-2.text-transparent .map-type li a:hover{
    color: #ffb000 !important;
}
#footer .newsletter-form .email{
    font-style: italic;
    font-family: optima;
    color: #0a1f54;
    font-weight: 700;
    font-size: 18px;
    width:auto;
}
#footer .newsletter-form .contact-btn{
    background-color: #0a1f54;   
}
#footer .newsletter-form .contact-btn:hover{
    color: #0a1f54;
}
#footer .newsletter-form{
    background-color: #ffb000;
}
#footer .newsletter-social-wrap .divider{
    border-bottom: none;
}
#footer .newsletter-social-wrap{
    max-width:65rem;
}
#footer .footer-link .columns .column-header{
    margin-bottom: 1.5rem! important; 
}
.footer-end .privacy .right-icon{
    margin-left: .5rem;
    font-size: .75rem;
    vertical-align: middle;
    display: inline-block;
    margin-top: -2px;
    font-weight: 700;
    color: #fff;
}
.headline-group .subtitle{
    margin-bottom:1.75rem;
}
.lc__background.lc__left-of-center.lazyloaded{
    /*background-image: url(/JMIpage/JMI/img/jmi.jpg);*/
    background-repeat: no-repeat;
    background-size: contain;
}

.cycle-slideshow .cycle-prev .fa-angle-left{
    font-size: 108px;
    color: #fff;
    position: absolute;
    top: 35%;
    left: 20%;
}
.cycle-slideshow .cycle-prev{
    position: absolute;
    z-index: 800;
    cursor: pointer;
    display: none;
   
}
.cycle-slideshow .quote-prev{
   top: 46%;
    left: 94%; 
}


.left-second-arrow {
    left: 6%;
    top: 29%;
    width: 5%;
    height: auto;
}


.cycle-slideshow .cycle-next .fa-angle-right{
    font-size: 108px;
    color: #fff;
    position: absolute;
    top: 35%;
    right: 20%;
}
.cycle-slideshow .cycle-next{
    position: absolute;
    z-index: 800;
    cursor: pointer;
    display: none;
}
.cycle-slideshow .quote-next{
     top: 37%;
    left: 94%;
}

.right-second-arrow {
    right: 6%;
    top: 29%;
    width: 5%;
    height: auto;
}
.cycle-slideshow:hover .cycle-next, 
.cycle-slideshow:hover .cycle-prev{
    display: block ;  
}
.top-slider .cycle-prev .fa-angle-left{
    font-size: 100px;
    color: #fff;
    position: absolute;
    top: 48%;
    left: 3%;
}
.top-slider .cycle-prev{
    left: 2%;
    position: absolute;
    top: 36%;
    width: 3%;
    z-index: 800;
    height: 100%;
    cursor: pointer;
    display: none;
}

.top-slider .cycle-next .fa-angle-right{
    font-size: 100px;
    color: #fff;
    position: absolute;
    top: 48%;
    right: 3%;
}
.top-slider .cycle-next{
    right: 2%;
    position: absolute;
    top: 36%;
    width: 3%;
    z-index: 800;
    height: 100%;
    cursor: pointer;
    display: none;
}

.top-slider:hover .cycle-next,
.top-slider:hover .cycle-prev{
    display: block; 
}

.ui-loading .ui-loader { display: block; }
.ui-loader, span.goog-te-combo.lang { 
    display: none !important;
    position: absolute; 
    opacity: .85; 
    z-index: 100;
    left: 50%;
    width: 200px;
    margin-left: -130px; 
    margin-top: -35px;
    padding: 10px 30px; 
}
.lc__theme-color-2{
    background-color: #103c6d;
}

.lc__sidebar .history-content .address{
    line-height: 1.4;
    margin-left: 0px;
}

/*MAP*/

.map_location{ 
    position: absolute;
    right: 0;
    top: 40%;
    width: 58%;
}

.inner_div{ position: absolute; top:0; left:0; right:0; bottom:0; margin:auto;} 

/*.inner_div{
    transform: translate(-50px, -80px);
    transition: all 0.3s linear;
    }*/

/*END*/


@media screen and (min-width: 601px) {

    .lc__home-intro .lc__sidebar .direction-link .indicator {
        /* display: none; */
    }

    .home.main.bleed .lc__intro-content {
        padding-left: 165px;
        padding-right: 10px;
        padding-bottom: 70px;
    }


    .home.main.bleed .curiosity-badge {
        position: absolute;
        top: 0;
        left: 0;
        bottom: auto;
        width: 150px;
        height: auto;
    }

    .home.main.bleed .curiosity-badge__icon-wrap {

        position: static;
        float: none;
        width: 100%;
        padding: 135px 25px 38px;

    }

    .home.main.bleed .curiosity-badge__icon {
        width: 100%;
        height: auto;
    }

    .home.main.bleed .curiosity-badge__plan-visit {
        display: none;
        float:none;
        padding: 65px 0 65px 140px;
    }
}


@media screen and (min-width: 1024px) {
    span.line.quote{
        line-height: 4.7rem;
    }
    #header .nav-global .content{
        top:97px;
    }
    .layout-container .row.lc__content.lc__wide{
        max-width: 59em;
    }
    .home.main.bleed .lc__intro-content {
        /* padding-bottom: 290px; */  
        z-index: 9;
    }
    .text-and-images .rte-text-medium .internal-explore
    {
        width:max-content;
    }
    p.future_desc { margin-bottom: 15px! important;}
    p.future_explore a.internal-link{ width: max-content; font-size: 16px; }
    .animatable{visibility: visible;}
    
    #feature .carousel-container .bh__content {
    padding: 0 .625rem;
    padding-top: 55px !important;
    vertical-align: inherit !important;
}
.carousel-container .arrows{ 
  
}
.layout-container .carousel-container .feature-quote{
    margin-left: 10px! important;
        padding-left: 70px;
}
#header-outer-wrap.stuck{
    z-index: 99;
}
    

}
@media screen and (min-width: 1024px) and (max-width: 1365px) { 
    .structured-carousel .cycle-slideshow-small{
        /*bottom: 13.5% !important;*/
    }


}


@media screen and (min-width: 1300px) {

    .lc__home-intro .lc__sidebar .direction-link .indicator {
        display: block;
    }

    .home.main.bleed .lc__intro-content {
        padding-left: 0;
        padding-right: 100px;
    }

    .home.main.bleed .curiosity-badge {
        position: absolute;
        top: 0;
        left: -180px;
        width: 150px;
    }

    .lc__home-intro .lc__sidebar .direction-link .indicator {
        display: static;
    }


}

@media screen and (min-width: 1425px) {

    .home.main.bleed .curiosity-badge {
        left: -170px;
    }

}


/*exploer section home page*/
.feature-footer a.plan-button {
    color: white;
    background-color: #f7a430;
}
a.internal-link.arrow-link.internal-explore, a.explore-points {
    color: #2aa9e0;
}
a.internal-link.arrow-link.internal-explore:hover, a.explore-points:hover {
    color: #0a1f54;   
    border-bottom: 2px solid #0a1f54! important;
}
.internal-explore-type li .explore-points:hover{
    border-bottom: none! important; 
}

ul.bh__links.bh__link-underline li a.ui-link {
    color: #ffb000;
    border-bottom-color: #ffb000;
}
ul.bh__links.bh__link-underline li a.ui-link:hover {
    color: #fff;
    border-bottom-color: #fff;
}

.bh-color__theme-c20045 .ribbon .ce-alert.lc__theme-color-1{
    background: #9250da !important;
}

.bh-color__theme-c20045 .ribbon .ce-alert.lc__theme-color-2{
    background: #202e18 !important;
}

.bh-color__theme-c20045 #header .nav-global .button {
    /*color: ;*/
}

.bh-color__theme-c20045 #header .nav-global .button:hover ,
.bh-color__theme-c20045 #header .nav-global .button:focus {
    background: #9250da !important;
    color: white !important; 
}

.bh-color__theme-c20045 #header .nav-global .button-group #my-visit-opener.button {
    color: white;
    background-color: #9250da;
}

.bh-color__theme-c20045 #header .nav-global .button-group #my-visit-opener.button:hover,
.bh-color__theme-c20045 #header .nav-global .button-group #my-visit-opener.button:focus {
    color: #9250da;
    background: white;
}

.bh-color__theme-c20045 #header .nav-global .button-group #my-visit-opener.button:hover .icon .icon,
.bh-color__theme-c20045 #header .nav-global .button-group #my-visit-opener.button:focus .icon .icon {
    color: #202e18;
}

.bh-color__theme-c20045 #header .nav-global .button-group #my-visit-opener.button .text-circle {
    background: #804abc;
    border-color: #804abc;
}
.feature-footer a.plan-button.button.button-table.large { margin-right: 6px; bottom:0px! important; padding: 1.3125rem .4375rem 1.3125rem 1.8125rem! important;}
a.plan-button.button.button-table.large.ui-link {
    background: #f7a430;
    color: white
}

.bh-color__theme-c20045 #feature .button .last-icon-cell {
    border-color: #ea9612;
}
#feature .button .last-icon-cell .fa-angle-right {
    font-weight: 900;
}
.button.button-table .text-cell{
    padding: 0 10px 0 6px;
}

.bh-color__theme-c20045 #feature .button:hover,
.bh-color__theme-c20045 #feature .button:focus {
    color: #f7a430 !important;
    background-color: white;
}

.bh-color__theme-c20045 #feature .button:hover .last-icon-cell,
.bh-color__theme-c20045 #feature .button:focus .last-icon-cell {
    border-color: #9250da;
}

.bh-color__theme-c20045 #feature .button:hover .icon,
.bh-color__theme-c20045 #feature .button:focus .icon {
    color: inherit;
}

.bh-color__theme-c20045 #feature .button:hover .last-icon-cell,
.bh-color__theme-c20045 #feature .button:focus .last-icon-cell {
    border-color: #f7a430;
}

.bh-color__theme-c20045 #feature .bh__link-underline.bh__link-alt-color a {
    color: white;
    border-bottom-color: white;
}

.explore li a{
    color: #ffb000 !important;
    border-bottom-color: #ffb000 !important;
}
.explore li a:hover,
.explore li a:focus{
    color: #fff !important;
    border-bottom-color: #fff !important;
}
.bh-color__theme-c20045 #feature .bh__link-underline a {
    color: #ffb000;
    border-bottom-color: #ffb000;
}

.bh-color__theme-c20045 #feature .bh__link-underline a:hover,
.bh-color__theme-c20045 #feature .bh__link-underline a:focus {
    color: #fff !important;
    border-bottom-color: #fff;
}

.bh-color__theme-c20045 #feature .carousel-container .arrows .arrow .st2 {
    stroke: #ffb000;
}


.bh-color__theme-c20045 #feature .carousel-container .arrows .arrow a:focus svg .st0 {
    fill: #ffb000;
}

.bh-color__theme-c20045 #feature .carousel-container .cycle-pager a:focus {
    color: #ffb000 !important;
}
ul.arrow-list.future-links li a {
    color: #2aa9e0;
    line-height: inherit;
}
ul.arrow-list.map-type.visit-list li a {
    color: #2aa9e0;
    line-height: inherit;
}
ul.arrow-list.map-type.visit-list li a:focus {
    color: #2aa9e0! important;
    line-height: inherit;
}

nav.nav-global .nav-global__list li a.nav-global__link:hover {
    color: #ffb000;
}
#header .nav-global__list li a.nav-global__link:focus{
    border-bottom: 3px solid #ffb000;
}

/*language widget css*/
#header div#gtranslate-2 {
    /* margin-left: -53px; */
    margin-right: 25px;
}
a.glink.nturl.notranslate:after {
    content: '|';
    margin-left: 14px;
}

#gtranslate-2 a.glink.nturl.notranslate:last-child::after { content:none; }
a.glink.nturl.notranslate{ text-decoration: none; color: rgba(255,255,255,.8) !important;
                           font-weight: 600; font-size: 12px; margin-left: 10px;
} 


.footer-link-container {
    padding-left:0;
}
.structured-carousel {
}
.professions-slider img.background-image{
    height: calc(100% - 0px);

}
.bh-color__theme-c20045 #feature .carousel-container .arrows {
    bottom: 0;
    margin-left: -34.9375rem;
    top: 55%;
}

@media screen and (min-width: 48em){
    .structured-carousel .arrows {
        top: auto;
        bottom: -6% !important;
    }
}

.structured-carousel .cycle-slideshow-small {
    bottom: 0% !important;
}
.structured-carousel .cycle-slideshow-small img.background-image {
    height: 100% !important;
}

.slide-points
span {
    position: absolute;
    display: block;
    left: .9%;

}
.slide-points:hover
span {
    color: rgb(255, 255, 255);
    transition-duration: 0.5s;
    transform: rotate(-35deg);
}

.internal-explore-type {
    padding-left: 7px;
}
.internal-explore-type li {
    text-indent: 0rem !important;
    left: 0rem !important; 
}
.internal-explore-type li .explore-points span {
    position: absolute;
    display: block;
    left: -2.5%;
}

.internal-explore-type li .explore-points:hover span {
    transition-duration: 0.5s;
    transform: rotate(-35deg);

}
.arrow-list li{
    text-indent: 0rem !important; 
    left: 0rem !important; 
}
.arrow-list li .internal-link span {
    position: absolute;
    display: block;
    left: -12px;

}
.arrow-list li .internal-link:hover span {
    transition-duration: 0.5s;
    transform: rotate(-35deg);

}

.jmi5oth {
    width: 51px;    margin-left: 48%;    line-height: 23px;
}
.group {
    line-height: 0.5; 
}

.history-content span.sub-history, span.old-text, span.new-text { font-family: Minion-concept-italic !important;font-weight: normal;}
span.electro {  font-family: Minion-concept-italic !important; }

.content-area span.line p {
    font-family:Proxima-Nova-Bold !important; 
}

h2.future-maintitle{  font-family:Proxima-Nova-Bold !important;  }


.future-desc {
    font-size: 18px;
}

ul.visit-list li a { font-family:Proxima-Nova-Bold !important; }

button.contact-btn{font-family:Proxima-Nova-Bold !important;}
div.future-subtitle{ margin-bottom: 1rem !important;  font-size:13px !important;}

.headline-group .rule { width: 10.375rem; }
.footer-list a{
    color: #e8e8e8; 
    font-size: 15px;
}

.history-content span.old-text{
    color: rgb(88, 89, 91);
}
#header .nav-utility li .fa-search {
    border-right: 0;
}
#footer .footer-link .footer-list li{
    margin-bottom: 10px;
}
#footer .footer-link .footer-list a{
    color: #e8e8e8;
}
#footer .footer-link{
    margin-top: 90px;
    margin-bottom: 120px;
}
.plantsandoffice .subtitle{
    color: #ffb328! important;
    opacity:1! important;
}

.lc__home-intro .lc__sidebar .direction-link a{
    font-size: 21px;
}
.lc__home-intro .lc__sidebar .direction-link .indicator{
    /*    width: 47%;
        left: -51%;*/
    width: 53%;
    left: -59%;
}
.bh__subtitle{
    line-height: 2;
}
#footer .footer-end .translate-btn select{

}



/* iphone */

@media screen and (max-width: 36em) {
    #header .site-id .jmi-logo{
        width:30%;
    }
    #header .site-id {    
        position: absolute !important;     
        left: 43% !important;      
        transform: translate(-50%, -50%) !important;       
        /* top: 124% !important;   */
        top: 70% !important;
        width: 100%
    }
    #header .site-id .jmi5oth{ 
        margin-left:21%;
        width: 40px;
        margin-top: -13%;
    }
    
}

@media screen and (max-width: 55em) {
    #header .site-id img.jmi-logo {
        margin-left: 0px ;
    }
    .jmi50th{
        margin-left: 15%;
    }

}



#footer .newsletter-form .button{
    padding-top: 11px;
}

@media screen and (max-width: 55em) {
    #header .site-id img.jmi-logo {
        margin-left: 0px ;
    }
    .jmi50th{
        margin-left: 15%;
    }

    .bh__link-underline{
        margin-bottom: 20px;
        margin-top:20px;
    }
    .bh__link-underline li{
        margin-bottom:0px! important;
    }


}
#header .nav-utility .nav-utility__item:nth-child(n+3) {
    border-right: none;
}
#header .nav-utility .nav-utility__item:nth-child(n+2) {
    font-family: 'NotoSerifCJKtc-SemiBold_0';
}
.headline-group.with-rule{
    margin-bottom: .75rem;
}
.ce-content{
    margin-bottom: 4.75rem! important;
}   
.rte-content{
    /*margin-bottom: 5.6rem! important;*/ 
}
#header .nav-global #magic-line {
    background: #ffb000 !important;
}
#header .site-id{

    width: 260px;
}
.quote-box{
    display:none;
}
.message_quote .lc__content:hover .cycle-next,.cycle-prev{
    display: block;
}

@media screen and (max-width: 375px){
    /*get button*/
    .medium-24 .lc__content .columns {
        margin-top: 70px;
    } 
    .button.button-table.large .last-icon-cell{
        padding: 0 0.25rem 0px 26px !important;
    }
    .button.button-table.large .last-icon-cell .fa-angle-right{
        margin-right: 19px; 
    }
    .slide-points span{
        left: 11.8%;
    }
    .bh__link-underline{
        margin-bottom: 20px;
        margin-top:20px;

    }
    .bh__link-underline li{
        margin-bottom:0px! important;
    }
    .bh__content .bh__link-type{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    #f1a.home.main #feature>.inner-wrap{
        max-height: 31.75rem;
    }
    .lc__sidebar{
        margin-top: 0px;

    }
    .direction-link{
        margin-top: 20px! important;
    }
    .home-quote-btn{
        left: 0px! important;
        bottom: 0px! important;
        top:112%;
    }
    .structured-carousel .second-slide{
        margin-left: 1%! important;
    }
    .layout-container .lc__inner-wrap .lc__content .carousel-background-block{
        margin-top: 0px! important;
    }
    #footer .newsletter-form{
        text-align: center;
        width: 100%;
        float: left;
    }
    #footer .newsletter-form .email{
        width:100%;
    }
    #footer .newsletter-form .button{
        text-align: center;
        float: initial;
        padding-top: 8px;
    }
    .carousel-background-block .content-area{
        margin: 0 1rem! important;
    }
    .plantsandoffice {
        padding: 3.125rem 1.875rem;
    }
    #footer .footer-link .columns:last-child .column-header{
        /*border-bottom:none;*/
    }
    #footer .footer-link .footer-list li{
        margin: 0 0 .9375rem;
    }
    #footer .footer-link{
        margin: 0px! important;
    }
    #footer .footer-end .privacy{
        /*border-bottom:none;*/
        padding-top: 1.1875rem;
    }
    #footer .footer-end{
        margin-top: 0px;
    }
    #footer .footer-link .columns .column-header.title-open{
        background: url(../Images/footer-link-arrow-down.1454959328.png) right center no-repeat;
    }
    #header .site-id {
        width: 90% !important;
        left: 32% !important;
        text-align: center;
    }


}
@media screen and (min-width: 375px) and (max-width: 767px){
    #header .site-id .group{
        margin-top: -35px! important; 
    }
    
    .bh__link-underline{
        margin-bottom: 20px;
        margin-top: 0px;

    }
    .bh__link-underline li{
        margin-bottom:0px! important;
    }
    .bh__content .bh__link-type{
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .lc__home-intro .lc__sidebar{
        background-color: #0a1f54;
    }
    .home-quote-btn{
        /*left: 523px! important;*/
        /*bottom: 17px! important;*/
    }
    .text-and-images .rte-text-medium .internal-explore{
        width: 20%;
    }
    #footer .newsletter-form{
        text-align: center;
        width: 100%;
        float: left;
    }
    #footer .newsletter-form .email{
        width:100%;
    }
    #footer .newsletter-form .button{
        text-align: center;
        float: initial; 
    }
    .layout-container .lc__mobile-bleed-top{
        padding-top: 2rem; 
    }
    .slide-points span {
        position: absolute;
        display: block;
        left: 10.8%;
    }
    .medium-24 .lc__home-intro .lc__content .columns{
        margin-top:25px;
    }
    .home-quote-btn{
        top: 101%;
    }
    .quote-box {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
    .quote-box .cycle-next-top, .quote-box .cycle-prev-bottom{
        margin-left: 0px! important;
    }
 
}
@media screen and (min-width: 768px) and (max-width: 1023px){

    #footer .footer-end .translate-btn .last-icon-cell{
        right: 20px !important;
    }
    
    .home-quote-btn{
        left: 523px! important;
        bottom: 0px! important;
    }
    .lc__home-intro .lc__sidebar{
        padding-bottom: 275px! important;

    }
    .home.main.bleed .lc__intro-content{
        padding-bottom: 0px! important;
    }
    .layout-container .lc__inner-wrap{
        padding-top: 0px! important;
    }
    .layout-container .plantsandoffice{
        padding: 3.125rem 1.875rem! important;
    }
    .button.button-table.large .last-icon-cell{
        padding: 0 0.25rem 0px 1.5rem !important;
    }
    .button.button-table.large .last-icon-cell .fa-angle-right{
        margin-right: 15px; 
    }
    .carousel-background-block{
        margin-top: 29.2%;
    }
    .carousel-background-block .content-area .text .line-quote{
        width:62%;
    }
    
    .carousel-container .second-slide .cycle-pager{
        top: 1.1rem;
    }
    .structured-carousel .arrows {
        top: auto;
        bottom: -6% !important;
    }
    #footer .footer-link{
        margin-top: 90px! important;
        margin-bottom: 120px! important;
    }   
    #footer .footer-link .footer-list li{
    margin-bottom: 5px;
}
.slide-points span {
        position: absolute;
        display: block;
        left: 9%;
    }

}
/*nav-bar sub manu*/
#header .nav-global .about-jmi{
}

/*ipad pro*/
@media screen and (min-width: 1024px) and (max-width: 1366px){
    .carousel-background-block{
        /*margin-top: 14.4%;*/
    }
    .structured-carousel .cycle-slideshow-small{
        /*bottom: 13.2% !important;*/
    }
}
@media screen and (min-width: 411px) and (max-width: 823px){
    
    #footer .footer-link {
        margin: 0px;   
    }
}
