/*
Theme Name: SKT Blendit
Theme URI: http://www.sktthemes.net/shop/free-onepage-wprdpress-theme/
Author: SKT Themes
Author URI: http://www.sktthemes.net
Description: SKT Blendit is a one page, single page multipurpose theme which has all essential features to be useful for several types of onepage websites like personal, resume, CV, online card, wedding, app, fashion, blog, creative, landing page, scrolling page, interior design, vCard and others. Compatible with WooCommerce, several language plugins and translation ready. Check demo at: http://sktthemesdemo.net/blendit/

Version: 1.1
License: GNU General Public License
License URI: license.txt
Text Domain: skt-blendit
Tags:photography,portfolio,grid-layout,blog,news,two-columns,right-sidebar,custom-background,custom-colors,custom-menu,sticky-post,theme-options,threaded-comments

SKT Blendit WordPress Theme has been created by SKT Themes(sktthemes.net), 2016.
SKT Blendit WordPress Theme is released under the terms of GNU GPL
*/
body{ background-color:#fff; margin:0; padding:0;line-height:20px; font-size:14px; color:#5c5c5c; font-family: 'Roboto Condensed', sans-serif;  -ms-word-wrap:break-word; word-wrap:break-word; -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}

*{ margin:0; padding:0; outline:none;}
img{ border:none; margin:0; padding:0; height:auto}
.wp-caption, .wp-caption-text, .sticky, .gallery-caption, .aligncenter{ margin:0; padding:0;}
p{ margin:0; padding:0;}
a{ color:#ff554e; text-decoration:none; }
a:hover{ color:#ba7101;}
ol,ul{ margin:0; padding:0;}
.entry-content ol li, .entry-content ul li{ margin-left:15px;}
ul li ul, ul li ul li ul, ol li ol, ol li ol li ol{ margin-left:10px;}
h1,h2,h3,h4,h5,h6{ color:#484f5e; font-family:'Roboto Condensed', sans-serif; margin:0 0 20px; padding:0; line-height:1.1; font-weight:400; }
h1{ font-size:36px;}
h2{ font-size:30px;}
h3{ font-size:24px;}
h4{ font-size:20px;}
h5{ font-size:18px;}
h6{ font-size:14px;}
.clear{ clear:both;}
.alignnone{ width:100% !important;}
img.alignleft, .alignleft{ float:left; margin:0 15px 0 0; padding:5px; border:1px solid #f6f4f4;}
img.alignright, .alignright{ float:right; margin:0 0 0 15px; padding:5px; border:1px solid #f6f4f4;}
.tag-sticky-2{ background-color:#f6f4f4; padding:20px;}
.left{ float:left;}
.right{ float:right;}
.space50{ clear:both; height:50px;}
.space100{ clear:both; height:100px;}

h2.section_title{font-weight:400; text-align:center; padding-bottom:25px; margin-bottom:60px; position:relative; color:#111;}
h2.section_title::after{ content:""; position:absolute; width:48px; height:1px; background-color:#292929; bottom:0; left:0; right:0; margin:auto;}

/*default pagination*/
.pagination{display:table; clear:both;}
.pagination .nav-links{ margin:20px 0;}
.pagination .nav-links a{ margin-right:0; background:#646262; color:#fff; padding:5px 10px;}
.pagination .nav-links span.current, .pagination .nav-links a:hover { padding:5px 10px; background:#ff554e; color:#fff;}

.postmeta{padding:5px 0; color:#999;}
.postmeta a{color:#999;}
.postmeta a:hover{color:#ff554e;}

#comment-nav-above .nav-previous, #comment-nav-below .nav-previous{ float:none !important; margin:10px 0;}
ol.comment-list li{ list-style:none; margin-bottom:5px;}

body.wp-custom-logo .logo h1{ display:none;}
.logo{float:left; width:25%; z-index:999; color:#fff; padding:15px 0;}
.logo img{ height:51px; width:auto;}
.logo h1{font-weight:600; margin:0; line-height:30px; color:#fff; font-size:30px; text-transform:uppercase;}
.logo h1 span{ color:#ff554e;}
.logo p{ color:#fff;}

.widget-right{ float:right; text-align:right;}
.headwidget{ font:600 14px/20px 'Roboto Condensed'; color:#fff; margin-top:5px;}
.headphoneemail{ font:600 14px/22px 'Roboto Condensed'; color:#fff; display:inline-block; background-color:rgba(0,0,0,0.7); padding:10px 15px; }
.headphoneemail img{ margin-right:5px;}
.headphoneemail span{ margin-left:15px;}
.headphoneemail a{ color:#fff;}

.header{width:100%; z-index:999; position: absolute; background-color:rgba(0,0,0,0.5); }
.fixed-header {position:fixed !important; top:auto;}
.container{ width:1170px; margin:0 auto; position:relative;}
#home_slider{ position:relative; }
/*header menu css*/
.toggle{display: block;}
.toggle a{width:100%; color:#ffffff; background:url(images/mobile_nav_right.png) no-repeat right center #3e3e3e; padding:10px 10px; font-size:16px; text-align:left;}
.toggle a:hover{color:#ffffff !important;}
.sitenav{display:none;}

.sitenav{ padding:0;}
.sitenav ul { margin:0; padding:0; font-family:'Roboto Condensed', sans-serif; font-weight:400; font-size:13px; }
.sitenav ul li{ display:inline-block; float:left; margin:0; position:relative; text-align:center;}
.sitenav ul li a{ padding:30px 15px; display:block; text-transform:uppercase; }
.sitenav ul li:last-child a{ border-right:none; }
.sitenav ul li ul li{display:block; position:relative; float:none; top:-1px; border-bottom:1px solid #777;}
.sitenav ul li ul li a{display:block; padding-top:10px; padding-bottom:10px; position:relative; top:1px; text-align:left;  border-right:none; }
.sitenav ul li a, .sitenav ul li.current_page_item ul.sub-menu li a, .sitenav ul li.current-menu-ancestor ul.sub-menu li a{ color:#fff;}

.sitenav ul li a:hover, .sitenav ul li.current_page_item a, .sitenav ul li.current_page_item ul li a:hover, .sitenav ul li.current-menu-ancestor a.parent, .sitenav ul li.current-menu-ancestor ul.sub-menu li.current_page_item a, .sitenav ul li.current-menu-ancestor ul.sub-menu li a:hover{color:#ff554e;}



.sitenav ul li ul{display:none; z-index:9999999; position:relative;}
.sitenav ul li:hover > ul{display:block; width:200px; position:absolute; left:0; text-align:left; background-color:rgba(0,0,0,0.3);}
.sitenav ul li:hover ul li ul{display:none; position:relative;}
.sitenav ul li:hover ul li:hover > ul{display:block; position:absolute; left:200px; top:1px;}
.sitenav ul li:hover > ul li a{ border-radius: 0px;}

/* = header top bar css
-------------------------------------------------------------- */
section#home_slider{ padding:0;}
h2.section-title{font-weight:600; font-size:32px; color:#3a3a3a; margin:0 0 20px 0;}

/* = Services section css
-------------------------------------------------------------- */
.last_column{clear:right; margin-right:0 !important; }
.first_column{clear:right; margin-left:0 !important;}
.innerheader{ position:relative; background-color:#222;}

/* = section first css
-------------------------------------------------------------- */
#pagearea{ padding:60px 0 60px; box-shadow:0 0 5px #eee;}
.fourbox{ background-color:#fff; border:1px solid #dfdfdf; color:#2e2e2e; width:23.1%; padding:17px 17px 0; float:left; margin:0 2.3% 0 0; text-align:center; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; min-height:295px; position:relative;}
.fourbox .thumbbx{ width:82px; height:82px; overflow:hidden; margin: 0 auto;  border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; }
.fourbox img{ width:100%; height:auto; min-height:82px;}
.fourbox p{ margin-bottom:45px; line-height:20px; }
.fourbox h3{ font-size:17px; font-weight:600; color:#2e2e2e; text-transform:uppercase; margin:30px 0 20px;}
.fourbox h3 a{ color:#2e2e2e;}
.fourbox:hover{ background-color:#f6f6f8; border:1px solid #f6f6f8; border-bottom:2px solid #ff554e;}
.fourbox:hover h3 a{ color:#ff554e;}
.fourbox:hover a.ReadMore{ background-color:#fff;  color:#ff554e;}
.fourbox a.ReadMore{ background-color:#333339; color:#fff ; padding:5px 15px; display:inline-block; position:absolute; bottom:0; left:50%; transform:translateX(-50%); -moz-transform:translateX(-50%); -ms-transform:translateX(-50%); -o-transform:translateX(-50%); -webkit-transform:translateX(-50%);}

.fourbox.first_column{ border:0; text-align:right; padding:0;}
.fourbox.first_column h3{ margin:0 0 25px; font-style:italic;}
.fourbox.first_column h3 span{ margin:0 0 25px; display:block; font-size:40px; color:#ff554e; font-style:normal;}
.fourbox.first_column .thumbbx{ display:none;}
.fourbox.first_column:hover{ background-color:transparent; border:none !important;}


/* = social icons css
-------------------------------------------------------------- */
#socialwrap{ text-align:center;  background:url(images/social-bg.png) no-repeat center center; background-size:cover;  padding:50px 0; }
.social-icons a{ width:45px; height:45px; line-height:45px; text-align:center;  vertical-align:middle; display:inline-block; transition:0.6s; -moz-transition:0.6s; -webkit-transition:0.6s; -o-transition:0.6s;  margin:0 3px 0 0; padding:0; background-color:#444444 !important; -moz-border-radius:50%; -webkit-border-radius:50%; border-radius:50% }
.social-icons br{ display:none;}
.social-icons a:hover{ background-color:#000 !important; color:#ff554e;}
.social-icons .fb{ background:url(images/icon-fb.png) no-repeat center center; }
.social-icons .tw{ background:url(images/icon-tw.png) no-repeat center center; }
.social-icons .gp{ background:url(images/icon-gp.png) no-repeat center center;}
.social-icons .in{ background:url(images/icon-in.png) no-repeat center center;}

/* = Page lay out css
-------------------------------------------------------------- */
.site-main{ width:790px; margin:0; padding:0; float:left;}
#sitefull{ width:100%; float:none;}
#sitefull p{ margin-bottom:15px;}
.page_content{ padding:60px 0;}
.page_content p{ margin-bottom:20px; line-height:20px;}

.blog_lists{ margin:0 0 25px 0; padding-bottom:25px; border-bottom:1px solid #f7f7f7;  }
.blog_lists h4{ margin-bottom:10px;}
.blog_lists h4 a{ color:#484f5e;}
.blog_lists h4 a:hover{ color:#ff554e;}
.blog_lists p{ margin-bottom:20px;}
.blog-meta{ font-style:italic; margin-bottom:8px;}
.post-date, .post-comment, .post-categories{ display:inline; color:#000000;} 
.single_title{ margin-bottom:5px;}
.BlogPosts{ width:31.2%; float:left; margin:0 3% 0 0;}
.BlogPosts img{ width:100%;}
.BlogPosts h2{ margin:10px 0; font-size:22px; }
.post-thumb{ width:35%; float:left; margin:5px 25px 5px 0; height:175px; overflow:hidden;}
.post-thumb img{ width:100%;}

.homeblogpost .blog_lists{ width:31%; margin:0 25px 35px 0; float:left; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; border:none; padding:0; position:relative;}
.homeblogpost .blog_lists .post-thumb{ float:none; width:auto; margin:0; height:218px; overflow:hidden;}
.homeblogpost .blog_lists .post-thumb img{ width:100%; height:auto;}
.homeblogpost .blog_lists h4{ margin:20px 0 15px;}
.homeblogpost .blog_lists .postmeta{ margin-top:-97px; background-color:rgba(255,85,78,0.9); padding:10px; display:block; color:#fff; position:absolute; width:100%; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
.homeblogpost .blog_lists .postmeta a, .homeblogpost .blog_lists .post-date{ color:#fff;}

.homeblogpost .blog_lists .ReadMore{ background-color:#ff554e; color:#fff; padding:0 20px;  display:inline-block; height:35px; line-height:35px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.homeblogpost .blog_lists .ReadMore:hover{ background-color:#333 !important; color:#fff; }

.homeblogpost .blog_lists:nth-child(3n+3) { margin-right: 0; }

/* = sidebar
-------------------------------------------------------------- */
#sidebar{ width:330px; float:right;}
aside.widget{margin-bottom:30px; background-color:#f6f4f4; padding:20px; border:1px solid #edecec;}
aside.widget ul{ list-style:disc; }
h3.widget-title{ background-color:#ff554e; padding:12px 15px; margin-bottom:1px; color:#fff;}
#sidebar ul li{ list-style:inside none disc; border-bottom:1px dashed #d0cfcf; padding:8px 0;}
#sidebar ul li a{ padding:0 0 0 10px; color:#3b3b3b;  display:inline-block; }
#sidebar ul li a:hover{ color:#34c6f6;}
#sidebar ul li:last-child{ border:none;}

.fullwidth{ width:100% !important; float:none !important;}

/* = Footer css
-------------------------------------------------------------- */
#footer-wrapper{background-color:#312f3c; position:relative; color:#ffffff; text-align:center;}
.footer{ padding:18px 0;}
.footer ul{ margin-bottom:5px;}
.footer ul li{ display:inline-block;}
.footer ul li a{ color:#fff; padding:0 10px; display:block; border-right:1px solid; height:12px; line-height:10px; }
.footer ul li a:hover, .footer ul li.current_page_item a{ color:#ff554e;}
.footer ul li:last-child a{ border:0;}
.footer p{ line-height:30px;}
.footer a:hover{ color:#fff;}


/* Buttons */
.button{ background-color:#ff6565; border-bottom:4px solid #e44545; color:#fff; padding:8px 20px; display:inline-block; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -o-border-radius:2px; -ms-border-radius:2px; }
.button:hover{background-color:#34c6f6; border-color:#1898c2; color:#fff;}

/* woocommerce CSS
================================================*/
a.added_to_cart{background:#e1472f; padding:5px; display:inline-block; color:#fff; line-height:1;}
a.added_to_cart:hover{background:#000000;}
a.button.added:before{content:'' !important;}
#bbpress-forums ul li{padding:0;}
#subscription-toggle a.subscription-toggle{padding:5px 10px; display:inline-block; color:#e1472f; margin-top:4px;}
textarea.wp-editor-area{border:1px #ccc solid;}
.woocommerce input[type=text], .woocommerce textarea{border:1px #ccc solid; padding:4px;}
form.woocommerce-ordering select{ padding:5px; color:#777777;}
.woocommerce table.shop_table th, .woocommerce-page table.shop_table th{ font-family:'Roboto Condensed',san-serif; color:#ff8a00;}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price{ color:inherit !important;}
h1.product_title, p.price{ margin-bottom:10px;}
.woocommerce table.shop_table th, .woocommerce-page table.shop_table th{ font-family:'Roboto Condensed',san-serif; color:#ff6d84;}
.woocommerce ul.products li, #payment ul.payment_methods li{ list-style:none !important;}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price{ color:inherit !important;}
.woocommerce table.shop_table th, .woocommerce table.shop_table td{ border-bottom:0px !important}
#wp-calendar{ width:100%;}

input.search-field, .post-password-form input[type=password]{border:1px #eee solid; padding:8px 15px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
input.search-submit, .post-password-form input[type=submit], .wpcf7-form input[type=submit]{border:none; color:#ffffff; padding:8px 15px; cursor:pointer; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background-color:#ff554e;}

/* Text meant only for screen readers. */
.screen-reader-text {clip: rect(1px, 1px, 1px, 1px);position: absolute !important;	height: 1px;width: 1px;	overflow: hidden;}
.screen-reader-text:focus {	background-color: #f1f1f1;	border-radius: 3px;	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);	clip: auto !important;	color: #21759b;	display: block;
	font-size: 14px;font-size: 0.875rem;font-weight: bold;	height: auto;left: 5px;	line-height: normal;padding: 15px 23px 14px;text-decoration: none;	top: 5px;	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
form.search-form{ margin-bottom:20px;}
/* ============= Contact Page =========== */
.wpcf7{ margin:30px 0 0; padding:0;}
.wpcf7 input[type="text"], .wpcf7 input[type="tel"], .wpcf7 input[type="email"]{ width:40%; border:1px solid #cccccc; box-shadow:inset 1px 1px 2px #ccc; height:35px; padding:0 15px; color:#797979; margin-bottom:0;}
.wpcf7 textarea{width:60%; border:1px solid #cccccc; box-shadow:inset 1px 1px 2px #ccc; height:150px; color:#797979; margin-bottom:25px; font:12px arial; padding:10px; padding-right:0;}
.wpcf7 input[type="submit"]{background-color:#ff554e; width:auto; border:none; cursor:pointer; font:18px 'Roboto Condensed',san-serif; color:#ffffff; padding:10px 40px; border-radius:3px;}	

/* ============= Comment Form ============ */
h1.screen-reader-text{font:22px 'Roboto Condensed',san-serif;}
.site-nav-previous, .nav-previous{ float:left;}
.site-nav-next, .nav-next{ float:right;}
h3#reply-title{font:300 18px 'Roboto Condensed',san-serif;}
#comments{ margin:30px 0 0; padding:0;}
nav#nav-below{ margin-top:15px;}
#slider{ background:url(images/loading.gif) no-repeat center center #fff; min-height:500px;}