@font-face {
    font-family: Proxima-Nova-Bold;
    src: url(fonts/Proxima-Nova-Bold.woff);
}

@font-face {
    font-family: Proxima-Nova-Regular;
    src: url(fonts/Proxima-Nova-Reg.woff);
}

@font-face {
    font-family: Minion-SemiBold;
    src: url(fonts/minionpro-semibold.woff);
}

@font-face {
    font-family: Minion-concept-italic;
    src: url(fonts/minionpro-italic.woff);
}

.home.main.bleed .lc__intro-content {

    position: relative;
    padding-bottom:58%;
}

.home.main.bleed .curiosity-badge {

    position: absolute;
    height: 192px;
    width: 100%;
    bottom: 0;
    left: 0;

    background-color: #fff;
}

.home.main.bleed .curiosity-badge__icon {
    display: block;
    width: 55%;
    height: 100px;
    margin: -50% auto 0;
}

.home.main.bleed .curiosity-badge__icon-wrap {

    position: absolute;
    width: 42%;
    height: 100%;
    background-color: #fff;
    float: left;
    padding: 139px 25px 31px;

}


.home.main.bleed .curiosity-badge__plan-visit {
    display: block;
    width: 100%;
    padding: 17% 0 17% 42%;

    color: white;
    font-family: proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-size: 23px;
    font-weight: 700;
    text-align: center;

    background-color: #1882b0;
}


.home.main.bleed .curiosity-badge__plan-visit:hover {

    background-color: #146386;

}

/*Anjali's code*/

.navUtility-link:before{
    display: none !important;
}
#header-outer-wrap.offscreen .site-id{
 margin-top: -15px !important;   
}
#header-outer-wrap.offscreen .site-id .jmi-logo{
 margin-left: 0px;   
}
#header-outer-wrap.offscreen .site-id .group{
        display: none !important;
}
#header-outer-wrap.offscreen .site-id .jmi{
        display: none !important;
}
.big-header .bh__background-image{
    max-width: 100rem;
}
.big-header .top-line{
    font-family: 'ProximaNovaRegular' !important;
    font-style: normal !important;
}
#header .site-id .jmi-logo{
    float: left;
    margin-left: -85px;
}
#header .site-id:before{
    display: none !important;
}
#header .site-id .jmi{
    color: #fff;
    font-weight: 600;
    font-size: 34px;
    margin: 0;
    text-align: center;   
}
#header .site-id .group{
    color: #ffb000;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    text-align: center;

}
#header .nav-global__list li a.nav-global__link:hover{
    color: #ffb000;
}
.carousel .big-header .line-wrap .quote{
    margin-left: 40px;
}
.bh__content .bh__link-type {
    margin-left: 0;
}
.bh__content .bh__link-type li{
    list-style: none;
}
.bh__content .bh__link-type li a{
    font-weight: 600;
    color: #fff !important;
    font-size: 15px;
}
.bh__content .bh__link-type li a:hover{
    color: #ffb000 !important;
}
.button.button-table.large .last-icon-cell{
    padding: 0 0.25rem 0px 1.5rem !important;
}
@media screen and (max-width: 1125px){
    #header .site-id .jmi, .group{
        display: none !important;
    }
    #header .site-id .jmi-logo{
        float: none;
        margin-left: 0px;
    }
}
@media screen and (max-width: 1024px){
   .cycle-slideshow .cycle-next .fa-angle-right{
        display: none;
    }
    .cycle-slideshow .cycle-prev .fa-angle-left{
        display: none;
    }
    .top-slider .cycle-next .fa-angle-right{
        display: none;
    }
    .top-slider .cycle-prev .fa-angle-left{
        display: none;
    } 
    .lc__home-intro .lc__background-3{
        background: url('/JMIpage/JMI/img/build.jpg') !important;
    }
}
@media screen and (max-width: 767px){
 .carousel-background-block .content-area .text .line-quote, .line-more{
        width: 100% !important;
        margin-bottom: 0px;
    }   
}
@media screen and (max-width: 768px) and (min-width: 600px){
    .lc__background.lc__left-of-center.lazyloaded{
        background-size: cover !important;
        margin-top: 70px !important;
    }
}
@media screen and (max-width: 768px){
    .button.button-table.large .last-icon-cell{
        padding: 0 0.25rem 0px 3.5rem !important;
    }
    .carousel-background-block .content-area{
        padding: 0px;
        margin: 0px;
    }
    .structured-carousel .second-slide{
        margin-left: 1% !important;
    }
    .lc__home-intro .lc__sidebar .address{
        font-size: 20px !important;
    }
    .map_location{
        top: 40% !important;
    }
    .lc__theme-color-2.text-transparent .map-type{
        margin-left: 0 !important;
    }
    #feature .carousel-container .top-content{
        padding-top: 35px;
    }
    .lc__home-intro .lc__background-3{
       background: url('/JMIpage/JMI/img/build.jpg') !important;
    }
}
@media screen and (min-width: 48em){
    #header .nav-global .content.explore .arrow-up {
        margin-right: 35.875rem;
    }
    #header .nav-global .content.products .arrow-up{
        margin-right: 28.875rem;
    }
    #header .nav-global .content.professions .arrow-up{
        margin-right: 20.875rem;
    }
    #header .nav-global .content.professions .column-1{
        width: 465px !important;
    }
    #header .nav-global .content.professions .column-2 .dropdown-arrow-list li a:hover{
        color: #2aa9e0!important;
    }
    #header .nav-global .content.professions .column-2 .see-all{
        font-size: 13px;
        padding-left: 10px;
        padding-top: 6px;   
    }
    #header .nav-global .content.professions .column-2{
        width: 240px !important;  
        padding: 0px !important; 
    }
    #header .nav-global .content.professions .dropdown-arrow-list{
        padding: 1.625rem 0.5625rem !important; 
    }
    #header .nav-global .content.news .arrow-up{
        margin-right: 10.875rem;
    }
    #header .nav-global .content.news .column-1{
        padding: 25px 25px 0px 25px;
    }
    #header .nav-global .content.news .rte-content h4{
        color: #000;   
        margin-top: 5px !important;
        margin-bottom: 0.5625rem !important; 
    }
    #header .nav-global .content.news .rte-content p{
        line-height: 1.5;
        color: #000;   
    }
    .tai__image-beside-text .news-img{
        float: right;
    }
    #header .nav-global .content.news .column-2{
        padding: 0px 0px 40px 0px !important;
    }
    #header .nav-global .content.contact .arrow-up{
        margin-right: 1.875rem;
    }
    #header .nav-global .content.contact .rte-content p{
        margin-bottom: 0px;
    }
    #header .nav-global .content.contact .rte-content .phone{
        margin-top: 12px;
    }
    #header .nav-global .content.contact .contact-img{
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }
    #header .nav-global .content.contact .contact-img .get-quote{
        padding-top: 25px;
        font-size: 15px;
    }
    #header .nav-global .content.contact .column-2{
        padding: 0px !important;
    }
}

a.arrow-link:before{
    display: none;
}
a.arrow-link{
    padding-left: 0px;
}
.carousel-container .cycle-pager .cycle-pager-active{
    color: #ffb000;
}
.bh__info {
    font-family: ProximaNovaRegular;
}

@media screen and (min-width: 48em){
    #header .nav-global .content .dropdown-arrow-list {
        padding: 1.625rem 0.5625rem;
    }
    #header .nav-global .content .dropdown-arrow-list ul li a{
        font-size: 0.93rem;
    }
    #header .nav-global .content.explore .column-2{
        padding: 2.5rem 1.5rem .9375rem 1.125rem;
    }
    #header .nav-global .content.explore .column-2 p {
        letter-spacing: 0.3;
        color: #000 !important;
    }
    #header .nav-global .content.explore .column-2{
        background-color: #fff !important;
    }
    #header .nav-global .content.explore .column-1{
        background-color: #f0f0f0 !important;
    }
    .lc__home-intro .lc__sidebar .address{
        font-family: 'ProximaNovaRegular';
        font-size: 22px;
    }
    .lc__home-intro .lc__sidebar .fac{
        font-weight: 400;   
    }
    .carousel-background-block{
        height: 7.25rem;
        width: 100%;
        float: left;
        margin-top: 224px;
        padding: 0.125rem;
        overflow: hidden;
        z-index: 100;
    }
    .robot-boy .lc__background.lc__left-of-center{
        width: 45%;
    }
    #footer .newsletter-form .contact-btn{
        width: 162px;
    }

    .lc__home-intro .lc__background-2{
        width: 60%;
    }
}
@media screen and (min-width: 1600px){
    .robot-boy .lc__background.lc__left-of-center {
        width: 40%;
    }   
}
@media screen and (min-width: 1900px){
    .lc__home-intro .lc__background-2 {
        width: 58%;
    }   
    .robot-boy .lc__background.lc__left-of-center {
        width: 33%;
        position: absolute;
        left: 8%;
    } 
}
@media screen and (min-width: 2500px){
    .lc__home-intro .lc__background-2 {
        width: 56%;
    }   
    .robot-boy .lc__background.lc__left-of-center {
        width: 26%;
        position: absolute;
        left: 18%;
    } 
}
@media screen and (min-width: 3800px){
    .lc__home-intro .lc__background-2 {
        width: 54%;
    }   
    .robot-boy .lc__background.lc__left-of-center {
        width: 20%;
        position: absolute;
        left: 25%;
    }
}
@media screen and (min-width: 4800px){
    .lc__home-intro .lc__background-2 {
        width: 52%;
    }   
}
@media screen and (min-width: 48em) and (min-width: 64em){
    .tai__image-beside-text .tai__image-group-wrap.large {
        margin-right: 4.638298%;
    }
    #header .nav-global .content.explore{
        background-color: #f0f0f0;
    }
    .tai__image-beside-text .tai__image-group-wrap.news-img{
        margin-right: 0.638298%;
    }
}
.text-and-images .rte-text-medium .internal-explore{
    border-bottom: 2px solid #2aa9e0 !important;
    width: 12%;
}
.text-and-images .rte-text-medium .internal-explore:hover{
    border-bottom: 2px solid #0a1f54 !important;
}
.text-and-images .rte-text-medium .internal-explore-type li:before{
    display: none;   
}
.text-and-images .rte-text-medium .internal-explore-type li a{
    font-weight: 600;
    font-size: 16px;
}
.carousel-background-block div.slide.cycle-slide{
    width: 100% !important;
}
.carousel-background-block{
    background-color: #d8a731c9;
    opacity: .8;
}
.carousel-background-block .content-area{
    margin: 0 3.9375rem;
}
.carousel-background-block .content-area .text p{
    margin-bottom: 0;
    opacity: initial;
    font-weight: 600;
}
.carousel-background-block .content-area .text .electro{
    font-weight: 400;
}
.carousel-background-block .content-area .text .quote-line{
    font-size: 30px;
}
.carousel-background-block .content-area .text .line-quote{
    display: inline;
    float: left;
    width: 60%;
}
.carousel-background-block .content-area .line-more .more-{
    float: right;
    width: 40%;
}
.carousel-background-block .content-area .line-more .more-slide{
    color: #fff;
    border-bottom-color: #fff;
}
.carousel-background-block .content-area .line-more .more-slide:hover{
    color: #2aa9e0 !important;
    border-bottom-color: #2aa9e0;
}
.structured-carousel .second-slide{
    margin-left: 80%!important;
}
.carousel-container .second-slide .cycle-pager{
    top: 0.8375rem;
    transform: rotate(270deg);
    left: -70px;

}
.carousel-container .second-slide .cycle-pager .cycle-pager-active{
    color: #2aa9e0;
}
@media screen and (max-width: 888px){
    .carousel-background-block .content-area{
        padding: 1.5625rem 0;
    }
    .carousel-background-block .content-area .text .quote-line{
        font-size: 22px;
    }
}
@media screen and (max-width: 601px){
    .home.main.bleed .curiosity-badge{
        display: none;
    }
    .home.main.bleed .lc__intro-content {
        padding-bottom: 10%;
    }
    .map_location {
        display: none;
    }
}
.headline-group .future-subtitle, .future-maintitle{
    color: #2aa9e0;
}
.lc__content .rte-content .future-links li:before{
    display: none;
}
.robot-boy .lc__background.lc__left-of-center{
    background-position: right bottom;
}
@media screen and (min-width: 64em){
    .lc__pad-bottom-15{
        padding-bottom: 0;
    }   
    .lc__pad-top-175{
        padding-top: 3rem;
        margin-top: 20px;
    }
    .support-container .columns{
            max-width: 26.75rem;
    }
    .lc__pad-bottom-3 {
        padding-bottom: 60px;
    }
}
@media screen and (min-width: 1028px){
     .lc__sidebar .history-content h3{
        font-size: 20px !important;
        width: 325px !important;
}   
}
@media screen and (max-width: 768px){
    .home.main.bleed .curiosity-badge__icon-wrap{
        padding: 95px 25px 38px !important;
    }
}
@media screen and (max-width: 600px){
    .robot-boy .lc__background.lc__left-of-center{
        background-position: left bottom;
    }
}
@media screen and (max-width: 418px){
    #footer .newsletter-form .contact-btn{
        width: auto;
    }
    .footer-end .privacy .right-icon{
        display: none !important;
    }
    .lc__theme-color-2.text-transparent .map-type li a {
    font-size: 13px;   
    }
}

.lc__theme-color-1 .feature-quote .slide-icon{
    position: relative;
    background: white; 
    border-radius: 0.2em;
    width: 55px;
    height: 42px;
    padding: 3px;
}
.lc__theme-color-1 .feature-quote .slide-icon:after{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 18px solid transparent;
    border-right-color: white;
    border-left: 0;
    border-bottom: 0;
    margin-top: -6px;
    margin-left: -15px;
}
.lc__theme-color-1 .feature-quote .slide-icon img{
    opacity: 1;
    border-radius: 0.2em;
}


.lc__theme-color-1 .feature-quote .slide-icon:before{
    display:none;
}
.carousel-container .cycle-pager-4823 .cycle-pager-active{
    color: #fff;
}
.feature-quote .quote-content{
    font-style: normal;
}
blockquote{
    font-family: 'ProximaNovaRegular';
}
.feature-quote .person, .organization{
    color: #fff;
}
.lc__bleed-left.lc__theme-color-1 .slide-background-img{
    background-image: url(/JMIpage/JMI/img/green.jpg);
    width: 90%;
    padding: 0;
    background-size: cover;
    background-position: center;
}

.lc__bleed-left .slide-background-img .grad{
    float: left;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right,#03A9F4,#03A9F4);
    opacity: .6;
}

@media screen and (max-width: 1100px){
    .lc__bleed-left{
        background-color: #fff;
    }
    .lc__bleed-left .slide-background-img{
        width: 100% !important;
    }
}

@media screen and (min-width: 37.5em){
    .layout-container .row.lc__content.narrow-left .columns {
        width: 50%;
    }
}

.lc__theme-color-2.text-transparent .great{
    opacity: .9;
}
.lc__theme-color-2.text-transparent .map-type li:before{
    display: none;   
}
.lc__theme-color-2.text-transparent .map-type{
    margin-left: 1.875rem;   
}
.lc__theme-color-2.text-transparent .map-type li a:hover{
    color: #ffb000 !important;
}
#footer .newsletter-form .email{
    font-style: normal;
    font-family: 'ProximaNovaRegular';
    color: #0a1f54;
    font-weight: 700;
}
#footer .newsletter-form .contact-btn{
    background-color: #0a1f54;   
}
#footer .newsletter-form .contact-btn:hover{
    color: #0a1f54;
}
#footer .newsletter-form{
    background-color: #ffb000;
}
#footer .newsletter-social-wrap .divider{
    border-bottom: none;
}
#footer .footer-link .columns .column-header{
    margin-bottom: 1.625rem;
}
.footer-end .privacy .right-icon{
    margin-left: .5rem;
    font-size: .75rem;
    vertical-align: middle;
    display: inline;
    font-weight: 700;
    color: #fff;
}

.lc__background.lc__left-of-center.lazyloaded{
    background-image: url(/JMIpage/JMI/img/jmi.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.cycle-slideshow .cycle-prev .fa-angle-left{
    font-size: 108px;
    color: #fff;
    position: absolute;
    top: 35%;
    left: 20%;
}
.cycle-slideshow .cycle-prev{
    left: 0;
    position: absolute;
    top: 0;
    width: 30%;
    z-index: 800;
    height: 100%;
    cursor: pointer;
    display: none;
}

.cycle-slideshow .cycle-next .fa-angle-right{
    font-size: 108px;
    color: #fff;
    position: absolute;
    top: 35%;
    right: 20%;
}
.cycle-slideshow .cycle-next{
    right: 0;
    position: absolute;
    top: 0;
    width: 30%;
    z-index: 800;
    height: 100%;
    cursor: pointer;
    display: none;
}
.cycle-slideshow:hover .cycle-next, 
.cycle-slideshow:hover .cycle-prev{
    display: block ;  
}
.top-slider .cycle-prev .fa-angle-left{
    font-size: 100px;
    color: #fff;
    position: absolute;
    top: 48%;
    left: 3%;
}
.top-slider .cycle-prev{
    left: 0;
    position: absolute;
    top: 0;
    width: 5%;
    z-index: 800;
    height: 100%;
    cursor: pointer;
    display: none;
}

.top-slider .cycle-next .fa-angle-right{
    font-size: 100px;
    color: #fff;
    position: absolute;
    top: 48%;
    right: 3%;
}
.top-slider .cycle-next{
    right: 0;
    position: absolute;
    top: 0;
    width: 5%;
    z-index: 800;
    height: 100%;
    cursor: pointer;
    display: none;
}

.top-slider:hover .cycle-next,
.top-slider:hover .cycle-prev{
    display: block; 
}

.ui-loading .ui-loader { display: block; }
.ui-loader, span.goog-te-combo.lang { 
    display: none !important;
    position: absolute; 
    opacity: .85; 
    z-index: 100;
    left: 50%;
    width: 200px;
    margin-left: -130px; 
    margin-top: -35px;
    padding: 10px 30px; 
}
.lc__theme-color-2{
    background-color: #103c6d;
}

.lc__sidebar .history-content .address{
        line-height: 1.4;
}

/*MAP*/

.map_location{ 
    position: absolute;
    right: 0;
    top: 40%;
    width: 58%;
}

.inner_div{ position: absolute; top:0; left:0; right:0; bottom:0; margin:auto;} 

.inner_div{
    transform: translate(-50px, -80px);
    transition: all 0.3s linear;
}

/*END*/

@media screen and (min-width: 48em){
    #header .nav-global #magic-line {
        background: #ffb000 !important;
    }
}
@media screen and (min-width: 601px) {

    .lc__home-intro .lc__sidebar .direction-link .indicator {
        display: none;
    }

    .home.main.bleed .lc__intro-content {
        padding-left: 175px;
        padding-right: 10px;
        padding-bottom: 70px;
    }


    .home.main.bleed .curiosity-badge {
        position: absolute;
        top: 0;
        left: 0;
        bottom: auto;
        width: 150px;
        height: auto;
    }

    .home.main.bleed .curiosity-badge__icon-wrap {

        position: static;
        float: none;
        width: 100%;
        padding: 135px 25px 38px;

    }

    .home.main.bleed .curiosity-badge__icon {
        width: 100%;
        height: auto;
    }

    .home.main.bleed .curiosity-badge__plan-visit {
        display: none;
        float:none;
        padding: 65px 0 65px 140px;
    }
}


@media screen and (min-width: 1024px) {

    .home.main.bleed .lc__intro-content {
        padding-bottom: 350px;
    }
}


@media screen and (min-width: 1300px) {

    .lc__home-intro .lc__sidebar .direction-link .indicator {
        display: block;
    }

    .home.main.bleed .lc__intro-content {
        padding-left: 0;
        padding-right: 100px;
    }

    .home.main.bleed .curiosity-badge {
        position: absolute;
        top: 0;
        left: -180px;
        width: 150px;
    }

    .lc__home-intro .lc__sidebar .direction-link .indicator {
        display: static;
    }


}

@media screen and (min-width: 1425px) {

    .home.main.bleed .curiosity-badge {
        left: -220px;
    }

}